[2016-09-24 22:10] Jeffail opened #1 "Add NATS support"
Add support for NATS as an input and as an output.

http://nats.io/
https://github.com/nats-io/gnatsd

[2016-09-24 22:11] Jeffail opened #2 "Add RabbitMQ support"
Add support for RabbitMQ as an input and as an output.

https://www.rabbitmq.com/
https://github.com/streadway/amqp

[2016-09-24 22:13] Jeffail opened #3 "Create docker image"
It would be nice to have a docker image created with ZMQ4 support.

[2016-10-05 00:08] Jeffail commented on #3
I've added a Dockerfile which I believe is fairly standard, I'll get someone with more knowledge to check it over and then I'll look at maybe uploading an image.

[2016-10-18 21:40] #2 closed

[2017-02-06 00:51] #3 closed

[2017-04-16 12:59] joeblew99 commented on #1
I came here to make an issue for this . You read my mind.

I am really interested in benthos. It's a highly useful / practical thing.

I am also interested is using flogo ( on github ) with benthos.
They both compliment each other very nicely.

Flogo is interesting in that you described a flow and can then compile it to golang.

I am also thinking that all these systems need to hook into a service

[2017-04-18 09:32] Jeffail commented on #1
Hey @joeblew99, I haven't seen flogo before but I'll check it out, sounds interesting. Etcd support would be great, I hadn't initially planned for it so at this stage it might take me a while to consider how I'd integrate it.

[2017-05-17 19:30] #1 closed

[2017-05-25 07:32] joeblew99 commented on #1
@Jeffail thanks !!

[2017-09-05 18:57] ThomasADavis opened #7 "AMQP as input nevers ack it's messages.."
In testing, I found that if you use AMQP (RabbitMQ) as an input, the messages will never get ACK'd in rabbitmq, which causes a backlog to build.

In the AMQP input file, you've turned off AutoACK, but never ack any messages as being delivered.

You also never set a QOS, which then defaults to 0 in the rabbitmq.  This also could cause problems if multiple benthos are sharing the same queue, or perf

[2017-09-15 16:07] Jeffail commented on #7
Hey @ThomasADavis, sorry for the delayed response, this issue slipped under my radar. I'll take a look next time I get a chance, or I'd be happy to take a pull request.

I'm still fairly unfamiliar with AMQP so thanks for highlighting these issues.

[2017-09-16 15:41] joeblew99 opened #8 "Websockets"
This is a pretty cool lib. Kind of surprised there are not more issues.

I want to use NATS as my central control plan to talk to micro services but also to send messages to clients over websockets.

I can see that this lib can help me with decoupled pipelines and orchestration but am wondering if any thought using this with websockets has been attempted.

There is a similar but different project

[2017-09-16 15:59] Jeffail commented on #8
Hey @joeblew99, thanks! Websocket support is fairly easy to add, both as an input and as an output. I can likely do it in a about an hours work or so when I get a chance. I started winding down on developing available connectors until people started requesting them, but they are super easy to implement.

[2017-09-17 11:32] Jeffail commented on #7
Hey @ThomasADavis, had a quick moment this afternoon to push a fix for this but haven't got time to test today. If you give it a try then let me know how it goes.

[2017-09-19 11:04] joeblew99 commented on #8
thanks @Jeffail

Here is a basic test harness of the ideas to get the ball rolling.. Great work by github.com/orus-io.

[code]

[2017-09-19 15:47] sukria commented on #7
Hey there. I'm also hit by this bug, I'm going to give your fix a test.

[2017-09-19 15:53] ThomasADavis commented on #7
I will not have time for several weeks to work on this.  A quick glance at the code it does appears to be correct.

[2017-09-19 15:55] sukria commented on #7
Works for me! Thanks for the fix.

[2017-09-28 11:40] #7 closed

[2017-11-04 09:54] Jeffail opened #10 "Add basic auth to HTTP inputs/outputs"
There's a branch for introducing HTTP stream as an input that includes HTTP auth, it would be good to pick out the auth parts for all HTTP inputs/outputs to use.

[2017-11-04 09:59] Jeffail opened #11 "Add diagrams to multipart walkthrough doc"
It would be nice to have block diagrams to complement [this document.](https://github.com/Jeffail/benthos/blob/master/resources/docs/multipart.md)

[2017-11-04 10:02] Jeffail opened #12 "Add sampling processor"
It would be good to have a processor type for sampling data. It could allow both randomly and sequentially dropping a percentage of messages. This would allow us to sample a particular input or write a sample to an output.

A walk through document detailing the new processor would also be good.

[2017-11-04 15:58] Jeffail commented on #12
https://github.com/Jeffail/benthos/commit/71e034c7b53b22f18f8bde614d4b77f514112d49

[2017-11-04 15:58] #12 closed

[2017-11-05 20:08] #11 closed

[2017-12-01 17:05] Jeffail opened #13 "MQTT"
It would be nice to have MQTT inputs and outputs. There's a golang library already: https://github.com/eclipse/paho.mqtt.golang

[2018-02-05 00:42] gardenia opened #16 "redis list as input?"
Hi,

I can see there is a redis pubsub input but I'd really like to be able to use redis list semantics (rpush -> blpop etc) which would offer some resilence if the benthos process were not alive when a message was queued.

that way my application can just write to the redis list (rpush) and benthos would poll the list and then deliver it to any of the output plugins (e.g. kafka).  just like pubsu

[2018-02-05 22:49] Jeffail commented on #16
Hey @gardenia, it's a possibility. There's a few other inputs/outputs I'd want to implement first.

[2018-02-06 19:44] #10 closed

[2018-02-06 20:33] Jeffail commented on #16
Hey @gardenia, it looked straight forward so I did it just now.

[2018-02-06 20:33] #16 closed

[2018-02-06 20:48] gardenia opened #17 "XMPP component input"
Hey @Jeffail ,

I promise I won't just keep making new issues (and please let me know if it is a hassle) ... but it would be really useful to have an XMPP component input.  XMPP components are pretty much like a simpler form of XMPP pubsub where merely connecting from the component is considered a subscribe.  anything sent to the component via XMPP e.g. foo@componentname.mydomain.com will be forwa

[2018-02-06 20:56] Jeffail commented on #17
Haha, no worries @gardenia, keep them coming. I'll leave this one open for now, the library looks simple and clean so it shouldn't take long to implement but I'd want to test it with a third party XMPP server as well, so it might take a little longer.

[2018-02-17 23:45] Jeffail opened #19 "PSA: Removing blob_to_multi and multi_to_blob processors"
See https://github.com/Jeffail/benthos/pull/18

[2018-02-18 00:10] Jeffail opened #20 "Add unit tests to travis script"

[2018-02-18 00:13] Jeffail opened #21 "Add integration unit tests for all inputs/outputs"
We should have flag protected integration unit tests for all inputs/outputs that interact with third party services, which can be kicked off using docker-compose. Ideally they can then be run inside a CI suite.

My current integration test set up is manual and involves the following steps:

- Run benthos instances with both input and output to third party service like this: `stdin -> benthos -> th

[2018-02-20 23:12] #20 closed

[2018-02-20 23:12] #19 closed

[2018-02-22 21:31] #13 closed

[2018-02-26 09:03] Jeffail opened #23 "PSA: Broker types (fan_in, fan_out, round_robin) are changing."
Broker types are going to be merged into a single `broker` input and output type, where the pattern will be specified as a field. There are a number of reasons for this change, mostly related to making documentation and config discovery simpler.

Pull request: https://github.com/Jeffail/benthos/pull/22

## Updating your configs

Wherever you were using the `fan_in` type simply swap it with `broker

[2018-02-28 22:12] Jeffail opened #24 "PSA: Go API Changes"
I'm planning to eventually merge https://github.com/Jeffail/benthos/tree/feature/wip-refactor-pipelines which brings in a large overhaul of the underlying interfaces within Benthos pipeline components. If you are a user of these APIs and want to update to this latest version you will need to implement these new interfaces.

## Justification

This change will bring in a major paradigm shift. Respon

[2018-03-18 14:17] #23 closed

[2018-04-21 11:05] #24 closed

[2018-06-04 12:41] Jeffail commented on #8
Hey @joeblew99, it took me a while to get around to this but we now have websocket support both as clients and on the `http_server` inputs and outputs.

[2018-06-04 12:41] #8 closed

[2018-06-12 09:20] mkorszun opened #34 "Retry logic for HTTP/HTTPS consumers"
Is it possible to have some retry rules / logic for failed HTTP/HTTPS push attempts?

[2018-06-12 12:31] Jeffail commented on #34
Hey @mkorszun, how granular would the logic need to be?  I can easily add some simple status code based rules, maybe something like this:

[code]

[2018-06-12 12:46] Jeffail opened #35 "Combine JSON processors into `json`"
I'm planning to combine the following JSON based processors:

- `set_json`
- `select_json`
- `delete_json`

Into a single `json` processor in order to simplify the list. I'm conscious of the fact that the list is constantly growing and there's no reason why other data structure formats can't also be supported. I want to avoid a situation where we potentially have `select_json`, `set_json`, `select

[2018-06-14 12:46] Jeffail commented on #34
Implemented in https://github.com/Jeffail/benthos/commit/888650b7ca40d0827183e373ae78ef6443815e4b, will be released soon.

[2018-06-15 15:03] Jeffail commented on #34
Released in https://github.com/Jeffail/benthos/releases/tag/v0.14.0

[2018-06-15 15:03] #34 closed

[2018-06-15 15:03] Jeffail commented on #35
Released in https://github.com/Jeffail/benthos/releases/tag/v0.14.0

Leaving the ticket open as a PSA.

[2018-06-28 10:09] #35 closed

[2018-07-07 21:53] #21 closed

[2018-07-27 08:32] Jeffail opened #38 "Metadata fields"
I've added support for metadata fields within Benthos, that means three things:

- Inputs can add arbitrary metadata to messages
- The `metadata` processor can be used to modify the metadata of a message
- Function interpolation can be used to access metadata fields with `${!metadata:foo}`

This means we can now start rolling out metadata support to each input and output. Inputs can be modified to

[2018-07-27 16:22] Jeffail commented on #38
Reviewed all the inputs and added metadata from the ones I felt made sense.

[2018-07-27 19:02] chrisriley commented on #38
I've been working on a version of the amqp input that includes all but Acknowledger and MessageCount from the [amqp.Delivery](https://github.com/streadway/amqp/blob/master/delivery.go#L28) struct. Still working out the nesting of [amqp.Table](https://godoc.org/github.com/streadway/amqp#Table) in Delivery.Headers. I'll send you a PR when I'm done to see if you can use any of it.

[2018-08-14 05:22] kevinclcn opened #41 "Elasticsearch output does not support customized type."
Now, the type of the index is hardcoded as "doc", could you provide a config option to allow customize this? Thanks!

[2018-08-14 14:05] Jeffail commented on #41
https://github.com/Jeffail/benthos/commit/f5a8aea078504fa1b930ae0c5778c6447a4fbaf3

[2018-08-14 14:05] #41 closed

[2018-08-16 10:15] EdeMeijer opened #42 "AMQP TLS support"
Hello,

I'm considering using Benthos for sending messages to remote tenants of a platform I'm developing. I'd like to offer public access to a RabbitMQ server, which the tenants can then consume the messages from using Benthos. However, in this scenario using a secure connection is critical in order to prevent the users from sending their RabbitMQ credentials over the public internet in plain tex

[2018-08-16 12:06] Jeffail commented on #42
Hey @EdeMeijer, done. https://github.com/Jeffail/benthos/commit/22c185dbcd393106b9d9cbb36f2cfd7372f917d5, I haven't got a TLS enabled server to test against so would be good if you could try it out and get back to me.

[2018-08-16 12:12] EdeMeijer commented on #42
Wow, that's fast. I'll let you know when I get around to testing it, thanks.

[2018-08-16 17:09] DemGiran opened #43 "what's with the sad face?"
This face is very sad....

https://github.com/Jeffail/benthos/blob/master/icon.png

[2018-08-16 18:06] Jeffail commented on #43
Hey @DemGiran, this is actually his natural resting face, he's not sad he's just bored.

[2018-08-16 18:06] #43 closed

[2018-08-17 03:22] andytruong opened #44 "RabbitMQ: Make exchange durable option configurable"
We are trying to connect our RabbitMQ server exchange but durable param is not compatible. It's great if we can support this configuration.

Thanks

[2018-08-17 08:35] EdeMeijer commented on #42
I got a TLS secured RabbitMQ instance up and can access the management interface over HTTPS, so the certs are configured correctly on the server side. I tried settings up an amqp input with benthos but I'm getting a tls handshake failure. I'll send you an email with the details where you can find the server for testing and what I tried so far, just don't want to share that here.

[2018-08-17 08:49] Jeffail commented on #42
Cool, sounds good, thanks @EdeMeijer

[2018-08-17 10:03] Jeffail commented on #44
Hey @andytruong, done. https://github.com/Jeffail/benthos/commit/8eacd3a7d27c599ba112e3d4e5662bbac67d47be

[2018-08-17 10:06] #44 closed

[2018-08-17 10:07] EdeMeijer commented on #42
Okay, that was my bad. I had peer verification enabled but not configured. Benthos now happily consumes my test queue.

That raises the question though, is TLS peer verification supported by Benthos? That might be another good thing to test.

[2018-08-17 10:51] Jeffail commented on #42
I believe you should be able to do peer verification by exporting your certs and pointing Benthos to them with the `tls.cas_file` field.

The exchange declaration and binding on the input should be a no-op if they already exist, but you're right that it's redundant. I can't exactly remember why I set it up this way originally but you're right to point it out, it's annoying to have to redundantly s

[2018-08-17 12:28] Jeffail opened #45 "PSA: AMQP Declarations Changes"
I'm changing the declaration behaviour of AMQP inputs and outputs. The old way was to force you to specify the declaration fields of the target queue and exchange regardless of whether they already exists or whether it's even possible to know. This is mostly redundant and can cause issues when Benthos doesn't expose all the fields necessary to match an existing exchange or queue. The only advantag

[2018-08-17 12:28] Jeffail commented on #45
Work is currently on https://github.com/Jeffail/benthos/tree/feature/amqp-declarations, I'll merge later today if I'm still happy with it.

[2018-08-17 12:29] Jeffail commented on #42
Moving declaration discussion over to https://github.com/Jeffail/benthos/issues/45, would be good to get your thoughts. Closing this issue.

[2018-08-17 12:29] #42 closed

[2018-08-17 12:52] Jeffail commented on #44
@andytruong, I'll be pushing a change soon that means you no longer even need to specify these fields if the exchanges and queues exist.

[2018-08-17 14:11] EdeMeijer commented on #45
Didn't look at the changes yet, but since you asked for my thoughts, here we go.

## AMQP input
**Minimal configuration**
Inputs are consumers, and consumers consume from queues exclusively, not exchanges.

Therefore, by default I would expect to be required to configure just a **queue name**, and be ready to start consuming. There is no reason to automatically create any exchanges or bindings, th

[2018-08-17 14:40] Jeffail commented on #45
So I've got something very similar right now, all declarations are optional, you can declare a queue + N bindings on the input, and an exchange on the output. I haven't got fields for `passive` declarations, but I can add those if anyone requests it. Similarly I haven't got `args` support but I can add it in if someone requests it.

[2018-08-17 14:44] EdeMeijer commented on #45
Great job. I think I don't need either passive or args right now, so that's fine.

[2018-08-18 19:43] #45 closed

[2018-08-19 18:29] mintbridge opened #47 "Add new encrypt/decrypt processors"
Hi,

Thanks for open sourcing this, its pretty awesome. I couldn't see any scope for custom processors, is that a case of fork and add them? Im planning a encyrpt/decrypt processor, would they be of interest in the main project?

Paul

[2018-08-19 20:48] Jeffail commented on #47
Hey @mintbridge, if your custom processor is to be applied to all messages in your pipeline you can use Benthos as a framework like this: https://godoc.org/github.com/Jeffail/benthos/lib/stream#example-package--Base64Encoder, which would likely be the least amount of work for you.

Alternatively, an encrypt/decrypt processor sounds like it might be generally useful, in which case I'd be happy to i

[2018-08-19 22:57] mintbridge commented on #47
Awesome, yeah I was looking at the encode/decode functions as an example. Our use case is a PGP encrypted message, not sure if that will be too complex?

[2018-08-20 08:30] Jeffail commented on #47
If you could summarise the config fields you'd need for your use case I'll try and find commonalities with other types of encryption we might also want to offer. If there's a general set of parameters that isn't too large then it sounds like a good fit.

I imagine right now it could be stuff like `private_key`, `password`, `public_key`, where the key fields would be read as paths. If we were then

[2018-08-20 19:23] cludden opened #48 "Custom Inputs/Outputs"
First off, great work on this! I would like to utilize benthos with non-supported inputs and outputs, is this possible today? If not, is this something you would be open to supporting? Ideally, as long as user defined inputs and outputs satisfy the benthos input/output interfaces, this seems like it could be integrated fairly easily, and perhaps allow the community to build a nice ecosystem of ben

[2018-08-20 19:31] bigkraig commented on #48
I'm somewhat interested in a Prometheus output of customized metrics for generating dashboards/alerts off of data within the streams.

[2018-08-20 19:50] Jeffail commented on #48
Hey @cludden, if the input/output targets are generally useful then I'd be interested in adding them to the project, otherwise you can fork and I'll still be happy to guide you. The process is pretty simple, check out the examples in https://github.com/Jeffail/benthos/tree/master/lib/input/reader.

I'm trying to avoid plugins for now as I like the simplicity of having "one true Benthos", but obvio

[2018-08-20 20:00] bigkraig opened #49 "Extending jmespath to add metrics from JSON fields"
What are your thoughts on extending (or replicating) the jmespath condition to fetch fields and expose them as metrics? Adding counters/gauges would allow you to scrape the stream from Prometheus and generate alerts and dashboards. We'd be most interested at doing this off of a KSQL table, but I imagine it could be useful from all sorts of inputs.

[2018-08-20 20:03] Jeffail commented on #49
Hey @bigkraig, would the goal here be to extract the value of a field from a document and change a metric by that amount? So, for example, for a document `{"foo":{"bar":4}}` we might increment the counter `stats.foo_bars` by 4?

[2018-08-20 20:04] Jeffail commented on #48
Marking this as documentation as it would be nice for me to outline the current process for contributing components.

[2018-08-20 20:06] cludden commented on #48
Hey @Jeffail thanks for the quick response, what you've stated was the same as my initial thoughts, and I have no problem submitting PR's for my use cases. However, the particular input I would like to implement (mysql binlog consumer) requires an additional storage layer for persisting consumer state (files and offsets), which can also be pluggable. As opposed to creating a truly generic mysql in

[2018-08-20 20:07] bigkraig commented on #49
I guess it could go a few ways.

I may want to count the amount of time I see a field (like a 4xx error) or I may want to expose the value of them, like a transaction total. If I think even further if someone is reading in their logs with response times, they may want to do a histogram.

Obviously it would make sense to just instrument the application, but we have quite a lot of legacy products wh

[2018-08-20 20:18] Jeffail commented on #49
That sounds interesting, we could add something like a `metric` processor that allows you to mutate either a `counter`, `gauge` or `timing` metric, and the value you specify in configuration could use function interpolation (https://github.com/Jeffail/benthos/blob/master/docs/config_interpolation.md#functions) so that either you specify a static value, or extract an integer value either from metad

[2018-08-20 20:27] Jeffail commented on #48
Let's do a fork for now. There's similar patterns I'm currently looking at where we want to have a consumer and then a separate storage layer so maybe in the future there will be a general pattern we could fit something like this into.

[2018-08-20 20:28] cludden commented on #48
sounds good!

[2018-08-20 20:29] cludden commented on #48
i'll leave it open for the documentation tag you added, thanks again!

[2018-08-21 10:08] mintbridge commented on #47
cool, yep ill get one built then push it up for discussion

[2018-08-21 20:19] bigkraig commented on #49
@Jeffail I think the labels should get included at this point, its going to be kind of limiting without them as I try to apply this to some use cases.

It doesn't look difficult to modify but I'm not sure what should be done with the statsd and other metric outputs. I'd have to change the `metrics.Type` interface which takes a `...string` parameter. From what I can see its always joining with `.`,

[2018-08-21 21:20] Jeffail commented on #49
@bigkraig, let's crack some eggs. The original intention of `path ...string` was to eventually migrate all my components away from dot separated paths, but I never actually got around to doing it as it worked fine just replacing dot separators with underscores for prometheus. I'm going to create an experimental branch to play around with different interfaces that include `labels map[string]string`

[2018-08-21 21:22] bigkraig commented on #49
@Jeffail lets go 🙌

[2018-08-21 21:26] Jeffail opened #51 "PSA: Incoming changes to metrics.Type"
The [metrics.Type](https://github.com/Jeffail/benthos/blob/master/lib/metrics/interface.go) interface is going to change. This has no impact on users of Benthos, only those using it as a framework or building their own components.

The change will involve adding optional labels to the `GetCounter`, `GetGauge` and `GetTimer` calls, and will also likely include changing `path ...string` for `path st

[2018-08-21 22:49] Jeffail commented on #51
Working from this branch: https://github.com/Jeffail/benthos/tree/feature/add-metrics-labels

The changes should have a minimal impact on framework users since you are likely wrapping `metrics.Flat`, or using the Benthos implementation anyway. The changes hopefully won't impact component developers either since all examples use single dot separated paths exclusively.

[2018-08-21 23:11] Jeffail commented on #49
https://github.com/Jeffail/benthos/blob/feature/add-metrics-labels/lib/metrics/type.go#L80

I'm mostly copying the Prometheus API, where you create a metric with a path and a list of label names, then you create an aggregator with label values, then you interact with that aggregator.

You'll be able to do:

[code]

[2018-08-22 02:54] rucciva opened #52 "Fingerprint processor"
Hi, thanks for such a great design btw.

I would love to use it in my scenario where i need to export and procesa logs to elasticsearch. But since benthos guarantees at-least-once delivery, i think i need a way to generate id based on the event processed so that it doesnt get duplicated in elasticsearch. Something like [logstash fingerprint plugin](https://www.elastic.co/guide/en/logstash/current/

[2018-08-22 02:59] rucciva opened #53 "Elasticsearch interpolate index"
I am wondering whether the `index` configuration support interpolation or not.
in the docs, i only see the `id` fields as being interpolated. `Index` interpolation is usefull in scenarios such as time based index

[2018-08-22 03:11] mtwilliams opened #54 "Support for Redis streams?"
Hey Ash,

First off, this is lovely and so frickin' useful. Thanks for open-sourcing it.

I was curious - are there (immediate) plans for supporting [Redis streams](https://redis.io/topics/streams-intro)?

[2018-08-22 08:11] Jeffail commented on #54
It's a good fit so yeah definitely, it looks as though support has been added to github.com/go-redis/redis so there aren't any blockers. I'll take this if I have time but it's not a priority for me right now.

[2018-08-22 08:20] Jeffail commented on #52
Hey @rucciva, if I create a general purpose `hash` processor you would be able to do the following:

[code]

And then you could use the `id` as your ES id, would that work for you?

[2018-08-22 10:49] rucciva commented on #52
Yes, that seems great. I hope murmur 3 will be included in the hash algorithm. Looking forward to it

[2018-08-22 10:49] rucciva commented on #53
Great. Thank you very much

[2018-08-22 18:01] Jeffail commented on #52
https://github.com/Jeffail/benthos/commit/101cfea71717c23edbee6538ba1a6dba1436de6c, is there a specific reason that you wanted murmur 3? There's one or two libraries for it but they seem a little risky to include.

[2018-08-22 22:18] Jeffail commented on #52
Released in https://github.com/Jeffail/benthos/releases/tag/v0.25.0, if you need murmur 3 support then feel free to open a new ticket.

[2018-08-22 22:18] #52 closed

[2018-08-22 22:18] Jeffail commented on #53
Released in https://github.com/Jeffail/benthos/releases/tag/v0.25.0

[2018-08-22 22:18] #53 closed

[2018-08-22 22:18] Jeffail commented on #51
Released in https://github.com/Jeffail/benthos/releases/tag/v0.25.0

[2018-08-22 23:45] bigkraig commented on #49
Maybe i'm missing it, but I am trying to find a way to drop the messages after I have processed them. Since I am only consuming to generate prometheus metrics, I don't need to do anything with them afterwards. It looks like there isn't a `/dev/null` option?

Otherwise I think the current iteration of the patch may be good enough. I am at the point where I am deploying it to Kubernetes to let it ru

[2018-08-22 23:49] Jeffail commented on #49
Cool, you could use the `file` output and set the path to `/dev/null`, we use that a lot for testing pipelines.

[2018-08-23 02:11] rucciva commented on #52
Hi @Jeffail , murmur3 is best fit for fingerprint case, since it has big enough space (128 bit) but quite fast. But if you thinks it's too risky then i think i could use the existing algorithm

[2018-08-23 18:23] bigkraig opened #56 "Inproc example?"
I'm sure its just that I am misunderstanding the configuration, but is there a simple example of using inproc for input & output?

What I am trying to achieve is a Kafka input that is then sent to a few different processor paths, where I can filter based off of different things and send to different outputs or calculate metrics.

[2018-08-23 18:27] bigkraig commented on #56
..or would a fan_out broker output be better?

[2018-08-23 18:31] Jeffail commented on #56
Hey @bigkraig, yeah that sounds like something you would want to do with a `fan_out` output broker. Your output block could look something like this:

[code]

The `inproc` types are more for linking multiple stream pipelines when running Benthos in streams mode: https://github.com/Jeffail/benthos/blob/master/docs/streams/README.md

[2018-08-24 00:49] bigkraig commented on #56
Broker is doing everything I need :+1:

[2018-08-24 00:49] #56 closed

[2018-08-24 05:06] rucciva opened #57 "Date Processing"
hi @Jeffail , what are your thoughts on having date processing support (format, parse, get year, get month, get timestamp, subtract, add, etc) in bentos, be it function or processor? I think it will be helpful in processing time-series data.

[2018-08-24 12:17] Jeffail commented on #57
Hey @rucciva, I've considered this before, to an extent some of this stuff can be done with the [`grok`](https://github.com/Jeffail/benthos/tree/master/docs/processors#grok) processor but it obviously doesn't allow you to do conversions. What would be the specific processing steps you're after?

I'd consider both function interpolations or a dedicated processor, I'm not entirely sure which I would

[2018-08-24 12:43] #51 closed

[2018-08-24 12:44] #48 closed

[2018-08-24 12:57] rucciva commented on #57
In my case, i would like to
1. Convert unix timestamp (either in second, mili second, or nano second) to elasticsearch date string.
2. From the same date data, construct time based index, either daily, monthly, or yearly. Depends on the approximate number of event.

[2018-08-24 13:37] Jeffail commented on #57
Thinking about it, I could possibly add this as a `text` processor operation. It might look something like this:

[code]

The `arg` field would follow this rule: https://golang.org/pkg/time/#Time.Format. Then I could add `date_to_unix_nano`, `unix_to_date`, `unix_nano_to_date`, etc.

[code]

[2018-08-24 14:02] rucciva commented on #57
Hmm.. why not create a separate processor instead of using text processor?

Imho, adding this operation to text processor is not consistent with the fact that decode, encode, and hash gets it own processor. I think text processor are best for general string processing.

I also think that having dedicated processor for date processing is good in case future specifix date operations are needed.

[2018-08-24 20:52] bigkraig opened #58 "kafka_balanced performance bug"
I have noticed some slow Kafka inputs and it looks like `offsetLastCommitted` isn't set in the kafka_balanced plugin.

[2018-08-24 20:59] ledor473 opened #59 "Support for distributed tracing"
Hi @Jeffail

I feel it would be pretty nice (even nicer than it's already is!) if Benthos would support various distributed tracing system just like it does for metrics!

The various tracing system could be abstracted by using [OpenTracing](https://github.com/opentracing)'s API, this includes [Jaeger](https://github.com/jaegertracing/jaeger) which I'm specifically interested in.
It seems that even

[2018-08-24 21:02] Jeffail commented on #58
Ding ding ding, we have a blob of the day. Fixed https://github.com/Jeffail/benthos/commit/1c5656a4432d8ff86ecf96df00e3449358062d5f, released in https://github.com/Jeffail/benthos/releases/tag/v0.25.1

Thanks @bigkraig

[2018-08-24 21:02] #58 closed

[2018-08-24 21:16] Jeffail commented on #59
Hey @ledor473,

I'm not particularly well versed as to how distributed tracing is used so I'd need to do some reading up on it, but from my basic knowledge it does seem very fitting for a project like Benthos so I'd be happy to explore it as an option.

I'm going to mark this one as help needed as it would be good to share notes as to how much work would be involved, how we would test it, etc, as

[2018-08-25 14:41] sathiya-mit opened #60 "Facing issue in json set processor"
{
  "data":  {
      "className": "foo",
      "packageName": "bar"
   }
}

In the above JSON I need to add one more attribute like below

{
  "data":  {
      "className": "foo",
      "packageName": "bar"
   },
   "startedBy": "user1"
}

What should I provide in 'path' ? Tried providing dot(.) to 'path' as mentioned below. It didn't work as expected.

processors:
  - type: json
    json:
      o

[2018-08-25 14:41] sathiya-mit commented on #60
Appreciate your help !!!

[2018-08-25 14:56] Jeffail commented on #60
Hey @sathiya-mit, try:

[code]

When you set `path: "."` you are telling the processor to set the contents of the root object to `value`, which would make the result `{"startedBy":"user1"}`, but what you actually want to do is set the value of `startedBy` to `"user1"`, and so that path you set is just that field name and the field will be created if it doesn't already exist (which in this case it

[2018-08-25 15:08] sathiya-mit commented on #60
Thanks a ton @Jeffail  Appreciate your help !!! It worked like charm. I want to add one more value as mentioned below and I got it working by adding one more json processor. Please let me know if there is a better way to do it.

{
"data": {
"className": "foo",
"packageName": "bar"
},
"startedBy": "user1",
"endedBy": "user2"
}

[2018-08-25 16:10] Jeffail commented on #60
You could also do it with a single [jmespath](https://github.com/Jeffail/benthos/tree/master/docs/processors#jmespath) query:

[code]

But I would put it down to personal preference, whichever is clearer to you.

[2018-08-25 16:10] #60 closed

[2018-08-26 19:07] Jeffail commented on #54
Hey @mtwilliams, I had a look at the spec for streams and I'm really impressed, very simple and clean. Thanks for bringing it into the spotlight.

Implemented: https://github.com/Jeffail/benthos/commit/539bc2ed3e03932162778815ac7581383a7a1c4a
Released: https://github.com/Jeffail/benthos/releases/tag/v0.26.1

[2018-08-26 19:07] #54 closed

[2018-08-27 03:25] mtwilliams commented on #54
You're amazing. Thank you!

[2018-08-27 20:01] nwest1 opened #63 "Support for TLS client auth for kafka"
I *think* this would be fairly straightforward, and useful for those in the unfortunate situation of having to use mutual tls authentication.

In addition to the configuration options and reading the client cert adding something like the following would do.

[code]

[2018-08-27 21:22] mintbridge opened #64 "Support for AMQP 1.0"
Hi,

Thoughts on support for AMQP 1.0, or would that conflict with the current implementation? As far as i can tell they are basically different protocols.

There is a go lib for it: https://github.com/vcabbage/amqp

I can have a go at implementing it but might be above my level of go at the moment

Paul

[2018-08-27 22:02] Jeffail commented on #47
Hey @mintbridge, pull request looks good so far, the way you're using `parts` is fine. No passphrase fields for now is fine, we can always add it if we need it later. I imagine it's reasonable to read the key once, but I'm a security novice. I'll ask around over the next few days, if you do the same then maybe someone can enlighten us, otherwise I say read once.

[2018-08-27 22:05] Jeffail commented on #63
Hey @nwest1, sounds reasonable. We could expose a tls config option `client_cert_files`, which would be an array of paths. I assume you already have a set up that would benefit from this, in which case if we create a branch with this feature would you be willing to test it?

[2018-08-27 22:09] Jeffail commented on #64
Hey @mintbridge, I don't see any major reason not to include it as an option. Since the protocols are so different I imagine the configuration fields we would expose would be completely different, in which case it ought to be a separate type within Benthos. Obviously, that puts us in an awkward position with `amqp` being 0.91 and then some other type being called `amqp_1_0`.

Any idea which broker

[2018-08-27 22:10] Jeffail commented on #64
Marking this as help wanted, right now I just want to collect use cases and opinions.

[2018-08-27 22:19] mintbridge commented on #64
yeah, i was thinking maybe do something with a version option, and just swap out the implementation underneath but yeah the config would be totally different

this has good list https://github.com/xinchen10/awesome-amqp but the one i'm after in particular is azure service bus

[2018-08-28 01:46] rucciva opened #65 "Kafka output topic interpolation"
Hi @Jeffail, sorry for bothering you again with small boring thing like this.

i'm just wondering wether you could turn kafka output `topic` config to support interpolation.

Currently, all of my docker container logs--which are stored in syslog--are exported to one kafka topic using filebeat. I would like to use benthos to parse the syslog's program name to extract container name and/or image and

[2018-08-28 08:09] Jeffail commented on #65
Hey @rucciva, seems like a reasonable request.

[2018-08-28 08:10] rucciva commented on #65
glad to hear that @Jeffail, looking forward to it

[2018-08-28 13:00] nwest1 commented on #63
Would be happy to!

[2018-08-28 14:16] nwest1 commented on #59
I’ve done a bit of work with tracing. The biggest complicating factor here is that there isn’t a standard way to inject or extract a span. It’s specifically omitted from the opentracing spec.

There are zipkin http standards (x-b3-* headers) but that’s one tracer and one protocol.

Internal tracing could be nice for profiling. “zipkin-http” and “jaeger-http” extract/injectors could be provided, bu

[2018-08-28 20:33] ajbosco opened #67 "Support for HDFS"
Are there any plans for supporting writing to HDFS? I'd imagine it would be similar to the S3 writer. I'd be interested in contributing, if it seems like a reasonable idea.

[2018-08-29 09:57] Jeffail commented on #67
Hey @ajbosco, seems like a good fit. This library looks promising: https://github.com/colinmarc/hdfs, might be worth exploring use cases for reading as well.

[2018-08-29 13:34] waldauf opened #69 "Proposal: Support for protobuf in http_server"
Hello Jeff,

at fist I want to say that your Benthos is great tool and many thanks for that! :]

I would like to ask you if is possible to add support for [protobuf](https://github.com/protocolbuffers/protobuf) in input http_server plugin?

[2018-08-29 13:46] ajbosco commented on #67
👍 Yep, I've been working with that library on something similar to this and it works well. I'll get started on this soon.

[2018-08-29 17:03] sathiya-mit opened #70 "http server timing out"
First of all I would like to say thank you for making benthos 👍

I have configured benthos.yaml with http server as input and kafka as output and few processors in pipeline. All is fine while http client request is minimal.

When I increased to 20 parallel http client request, I could see http timeout on client side, even after increasing http server timeout to 20 seconds. But I found almost all r

[2018-08-29 17:33] Jeffail commented on #70
Hey @sathiya-mit, there's a general guide for configuring pipelines for maximum throughput here: https://github.com/Jeffail/benthos/blob/master/docs/concepts.md#maximising-io-throughput

Kafka specifically benefits a lot from batching.

[2018-08-29 17:35] Jeffail commented on #69
Hey @waldauf, would the intention be to use Benthos to proxy the protobuf payloads to some destination or would you expect to be able to parse the payloads and process them?

[2018-08-29 21:18] ghballiet commented on #63
I'd be glad to participate in this as well, as I also need this feature. @Jeffail would you be open to just doing a PR review on this change, if I can get it in quickly?

[2018-08-29 21:47] ghballiet commented on #63
@Jeffail PR: https://github.com/Jeffail/benthos/pull/71

[2018-08-29 23:07] Jeffail commented on #63
Got this on a branch: https://github.com/Jeffail/benthos/tree/feature/tls-configs

Would be great if you both could try it out and confirm it's enough for your use case, I'm falling asleep at the keyboard but I'll merge into master and put a build out in the morning if there's no issues.

[2018-08-30 08:29] waldauf commented on #69
@Jeffail In my case I would lie to use Benthos like stream processor between Prometheus and Kafka:
[code]

In this flow I'm not able to write time series metrics produced by Prometheus into InfluxDB. I checked Prometheus and all metrics are serialized by protobuf and then sent to InfluxDB.

I'm thinking during writing this message and I have additional question: In this configuration do Benthos so

[2018-08-30 08:59] Jeffail commented on #69
It's my understanding that in order to do any kind of processing on a protobuf message the service would need to be compiled with the specific `.proto` generated definitions of the types being received. I think this might be too specific to add to the general project, but you could always fork and hard code your own HTTP input with the ability to parse the prometheus metrics into any format you li

[2018-08-30 11:48] Jeffail opened #72 "Idea: Rate limit resource"
It might be nice to have a rate limit field in the `resources` section of a Benthos config, where we might specify a maximum rate per interval for an arbitrary resource. This rate limit could then potentially be shared across inputs, processors or outputs that choose to use them.

For example, suppose we are using the `http` processor to hit external services, and in order to get a high throughput

[2018-08-30 12:52] sathiya-mit commented on #70
thanks @Jeffail It worked. I did both batching and increased number of parallel output sinks. I tested up to 200 parallel http connection.

BTW is that make any sense to increase http input source like mentioned below

input:
  type: broker
  broker:
    copies: 4
    inputs:
    - type: http_server
      http_server:
        address: ""
        cert_file: ""
        key_file: ""
        path: /po

[2018-08-30 12:58] Jeffail commented on #70
@sathiya-mit, great! Just use a single `http_server`, it's a special case as each request handler will be running on its own goroutine, so you wouldn't benefit from having multiple instances, they would also overwrite each others' endpoints.

[2018-08-30 12:58] #70 closed

[2018-08-30 15:55] ghballiet opened #73 "Specify TargetVersion with KafkaBalanced input type"
In the same way that we can already specify `TargetVersion` with the `Kafka` input type, I'd like to be able to select a `TargetVersion` with `KafkaBalanced`. This is already supported by the [sarama-cluster config](https://godoc.org/github.com/bsm/sarama-cluster#Config) (because it is based on the sarama Config struct) so we would just need to add (and then pass) this configuration option.

[2018-08-30 16:51] ghballiet commented on #73
Fixed in fde9ff6.

[2018-08-30 16:51] #73 closed

[2018-08-30 16:57] Jeffail commented on #65
Implemented: https://github.com/Jeffail/benthos/commit/fde9ff6842ff6ee0984e1cecedabbdd5f46dc516
Released: https://github.com/Jeffail/benthos/releases/tag/v0.27.0

[2018-08-30 16:57] #65 closed

[2018-08-30 16:58] Jeffail commented on #63
Released: https://github.com/Jeffail/benthos/releases/tag/v0.27.0

[2018-08-30 16:58] #63 closed

[2018-08-30 16:59] Jeffail commented on #63
@nwest1 if you need more config fields for your use case then feel free to reopen this ticket.

[2018-08-31 14:07] Jeffail opened #75 "Output metrics per message of a batch sent"
Currently there is a standard metric for `output.send.success`, this is per message batch rather than per message, so it would be useful to complement this metric with something like `output.parts.send.success`.

[2018-09-01 17:26] mintbridge commented on #47
ok, the key is read in once, not sure what else is needed now? I guess some more tests would be good but not entirely sure the best way to test it?

[2018-09-02 14:16] Jeffail commented on #47
Hey @mintbridge, yeah looks good. More unit tests would be good, maybe generate some small encrypted sample files and a mock key in a `testdata` subdirectory, then for the `decrypt` processor try and get the original contents and for the `encrypt` processor try and match the encrypted files by giving it the original contents.

[2018-09-02 17:09] Jeffail commented on #75
Implemented: https://github.com/Jeffail/benthos/commit/42246bec5b2482b0be7cbfbcae1182654ed0c464

[2018-09-02 17:09] #75 closed

[2018-09-02 22:08] Jeffail opened #81 "Switch output type"
The idea would be to create an output type that selects the first of a list of outputs where a condition passes. The config spec might look something like this:

[code]

[2018-09-02 22:12] cludden commented on #81
I like this approach and would be happy to refactor. In light of the change, I'm wondering if the `first_match` config field should be changed to `fallthrough`?

[2018-09-02 22:16] cludden commented on #81
also, i would be in favor of making the `switch` output configuration an object in case future use cases require extending the configuration

[code]

[2018-09-03 10:01] marceloboeira opened #82 "SQL Change Data Capture"
We have a project at the company I work where we connect to PgSQL using a [logical replication](https://www.postgresql.org/docs/10/static/logical-replication.html) slot to receive all data changes (insert, update, delete) for a configurable set of tables
and stream data directly from the database to streams (in our case kinesis). We do that using PgSQL [WAL](https://www.postgresql.org/docs/9.1/sta

[2018-09-03 10:15] Jeffail commented on #82
Hey @marceloboeira, this sounds very similar to another MySQL based input we're looking at: https://github.com/Jeffail/benthos/pull/76

The current plan is to add it in as a plugin, the API for which is ready to use but some plumbing is still pending for generating configuration examples and documentation etc. I'd be interested in adding this as another plugin so your configuration would look some

[2018-09-03 10:31] Jeffail opened #83 "Create plugin example"
Would be good to have a standard implementation of a plugin to share, a good starting point is adapting https://github.com/Jeffail/benthos/pull/76 into one.

Edit: Here's an example of an isolated plugin project: https://github.com/Jeffail/benthos-plugin-example
I still need to create a build system that makes plugins built this way viable. However, you can copy/paste the implementation within `ma

[2018-09-03 10:31] Jeffail commented on #82
Blocked on: https://github.com/Jeffail/benthos/issues/83

[2018-09-03 16:29] cludden opened #84 "proposal: refactor conditions to support operator configuration"
I am working on adding additonal operators to both the `metadata` and `jmespath` (which currently does not support operators) conditions. One of my use cases is to match against a long list of enumerations (to go along with the switch output). It currently feels awkward to force config for an `enum` operator into the string `arg` field. I'm proposing changing the way condition configuration is cur

[2018-09-03 17:40] Jeffail commented on #84
Hey @cludden, I'm open to it but would be worried about the rate at which the config spec might grow as we add more operators. As an alternative suggestion, what if we changed the type of `arg` to be an `interface{}`?

Also for the example of adding a `json_schema` operator to `jmespath` I think it might be more generally useful to have something similar to the `process_field` processor for condit

[2018-09-03 18:42] Jeffail commented on #83
Adapted: https://github.com/Jeffail/benthos/blob/feature/plugin-example/lib/input/plugins/mysql.go#L48

[2018-09-03 18:48] Jeffail commented on #82
@marceloboeira I have an example plugin you can check out here: https://github.com/Jeffail/benthos/blob/feature/plugin-example/lib/input/plugins/mysql.go#L48

Let me know what you think of the [`RegisterPlugin`](https://godoc.org/github.com/Jeffail/benthos/lib/input#RegisterPlugin) and [`DocumentPlugin`](https://godoc.org/github.com/Jeffail/benthos/lib/input#DocumentPlugin) calls, it's fairly expe

[2018-09-03 19:41] cludden commented on #84
that seems reasonable. I think my only concern with the `interface{}` approach is the lack of built in documentation for operator configuration and the addition of a lot of type coercion / reflection in each of the operator factories which may clutter the code base unnecessarily. are you imaging something like the `json` processor's `value` field?

and the `json_schema` operator was a made up exam

[2018-09-03 20:59] mintbridge commented on #47
added a test, but i'm not sure i'm understanding the parts properly, i think for this i need to combine them all to decrypt the full message?

[2018-09-04 08:51] Jeffail commented on #47
The lingo for messages is a little confusing, but each message part is a discrete message payload within a batch. So if you receive a message of three parts that would be synonymous with a batch of three messages. Sorry for the confusion, it's because multipart messages and message batches are the same concept within Benthos.

[2018-09-04 18:39] Jeffail commented on #83
Changing direction with this, the implementation of a plugin will remain the same but the way in which they are built and run is ideally going to fit into one of two categories:

## Building Public Plugins

Shared plugins won't be merged into the main Benthos codebase, and therefore won't be part of the main distributed binary. Instead, you will be recommended to create a plugin project (the templ

[2018-09-04 18:55] Jeffail commented on #83
## Issues

I've been reading up on Go plugins and experimenting with Benthos and it seems as though the versioning of a plugin is extremely strict. Not only does a plugin need to compile against the exact same dependency tree as the Benthos version it is loaded by, but it is also not able to use vendoring for this purpose, and neither can Benthos. Even the smallest difference (like, for example, t

[2018-09-04 19:20] cludden commented on #83
Wow, I guess that’s why terraform uses a custom plugin implementation https://github.com/hashicorp/go-plugin. What are your thoughts on their approach? I’m not sure it fits the benthos use case, but the issues you’ve described above with native plugins seem to make this approach a no go from my perspective. The only way it seems feasible is if all plugins were included in the benthos repo and buil

[2018-09-04 21:02] Jeffail commented on #83
I'd be worried about the overhead of using RPC, could always give it a go. I've got an example of a plugin using official Go plugins: https://github.com/Jeffail/benthos-plugin-example, it's actually very simple, would be great if we could find a nice way of doing the builds.

[2018-09-04 22:03] cludden commented on #83
Don't get me wrong, the example implementation looks awesome! and I agree with the RPC concerns. However, after doing some more reading on go plugins, the limitations seem to be a pretty difficult problem to solve.

[2018-09-04 22:37] nwest1 commented on #63
Was able to test this out just today - works like a charm. Additional config fields unneeded.

[2018-09-05 12:31] Jeffail commented on #67
Implemented: https://github.com/Jeffail/benthos/commit/1928fb60bfd3113b54e3d438c8f03265c6a25a5d

[2018-09-05 12:31] #67 closed

[2018-09-05 15:54] cludden commented on #84
Sorry if I posted this already elsewhere, I thought I did but can't seem to find it. Anyways, I started looking at this and it's unclear to me how a `check_field` condition would pass the extracted json values to child conditions. Currently conditions expect to receive a `types.Message` as opposed to something like `[]byte`. The only way I can currently think to implement this without a significan

[2018-09-05 17:04] Jeffail opened #88 "New `check_field` condition type"
It would be useful to have a new `check_field` condition that would work similarly to the `process_field` processor: https://github.com/Jeffail/benthos/tree/master/docs/processors#process_field

The idea is that sometimes we want to resolve a condition on an extracted section of a message. For example, we might want to perform a `text` based `contains` operator on the JSON path `foo.bar` of a mess

[2018-09-05 17:07] Jeffail commented on #84
I imagine it could work similar to `process_field`: https://github.com/Jeffail/benthos/blob/master/lib/processor/process_field.go#L149. I can do it when I get a chance, made a new issue for it: https://github.com/Jeffail/benthos/issues/88

[2018-09-05 20:02] ghballiet opened #91 "Proposal: Add Flexibility to TLS Configuration"
In addition to loading TLS certificates and keys as files, we need to be able to load keys and certs from strings directly.

[2018-09-06 07:58] #81 closed

[2018-09-06 08:00] Jeffail commented on #84
Closing this, lets continue any further conversation in https://github.com/Jeffail/benthos/issues/88

[2018-09-06 08:00] #84 closed

[2018-09-06 08:07] Jeffail commented on #91
Merged, I'm worried that because this config section is within an array it's not documented anywhere. I'm not sure what a clean solution would be since this config section will appear in lots of different places.

We could either create a static markdown file in `./docs` specifically explaining the tls config format and then refer to it in any types that use it, which is tedious and won't automati

[2018-09-06 16:34] dudleycarr opened #92 "NSQ output doesn't need max_in_flight parameter"
The NSQ output plugin accepts and has a default value of 100 for `max_in_flight`. The `max_in_flight` concept within NSQ only makes sense if you're consuming, not if you're publishing. I don't think it's causing any problems at the moment, but it might be confusing for others.

[2018-09-06 16:41] dudleycarr opened #93 "Support config interpolation for file output path parameter"
Use case: Depending on the message received, send it to a file based on the content of the message.

It seems that neither `file` nor `files` supports this use case. At the moment, the `path` parameter for the `file` output is not able to be interpolated.

[2018-09-06 18:07] dudleycarr opened #94 "Support interpolation for NSQ topics"
Use case: I'm consuming notifications from PostgreSQL and sending them to Benthos via STDIN. Ideally, I'd be able to look at the table name in the payload to be able to send it to an NSQ topic based on the table name.

[2018-09-06 18:08] dudleycarr commented on #93
Thank you! Will give it a go.

[2018-09-07 20:41] cludden opened #95 "New `bounds_check` condition type"
use case: a `bounds_check` condition would be useful for routing messages to outputs. certain outputs (eg Kinesis), have a maximum message size, and certain inputs produce messages that may exceed those message size limits. a `bounds_check` condition would allow messages that exceed to bounds to be routed to an alternative output.

[code]

[2018-09-09 09:14] Jeffail opened #97 "New for_each processor"
Would be good to have a processor type where all child processors are applied to individual message parts of a batch rather than the whole batch. This would make it simpler to do deduplication on batched payloads. It would work similarly to the filter_parts processor.

Advice would be to never batch/combine inside this processor.

[2018-09-10 17:04] nwest1 opened #98 "A way to process/decode/encode protobufs?"
The use case: input, decode protobuf, encode json, output.

I wrote my own processor (decode proto & encode json), included the necessary generated go files, and it works great. But I feel like there should be a more generic way to accomplish this.

That might not be possible due to the need to include/compile the generated files but just wanted to discuss options.

Thanks!

[2018-09-10 21:59] nwest1 commented on #98
Further issue reading indicates this would be solved within some kind of plugin, so this issue is probably moot.

[2018-09-10 22:05] nwest1 opened #99 "bug: nats input 'loses' some messages in a burst"
Steps to reproduce:
- configure nats input
- utilizing `github.com/nats-io/go-nats/examples` run something like this:
[code]
- note that not all messages are processed.

[2018-09-11 08:26] Jeffail commented on #98
Hey @nwest1, yeah I'd recommend doing this with a plugin.

[2018-09-11 08:26] #98 closed

[2018-09-11 13:01] nwest1 commented on #99
Sure! I'm running it in a docker compose with nats hooked up to an external kafka cluster.

[code]

[code]

[2018-09-11 19:48] Jeffail commented on #94
Released: https://github.com/Jeffail/benthos/releases/tag/v0.31.0

[2018-09-11 19:48] #94 closed

[2018-09-11 19:48] Jeffail commented on #88
Released: https://github.com/Jeffail/benthos/releases/tag/v0.31.0

[2018-09-11 19:48] #88 closed

[2018-09-11 19:50] dudleycarr commented on #94
Thank you!

[2018-09-11 20:07] nwest1 commented on #99
Here's a better setup (and without my custom processor - sorry about that.)

benthos.yaml
[code]

docker-compose
[code]

[2018-09-11 20:38] Jeffail commented on #99
Hey @nwest1, I can reproduce this by hitting NATS with a large burst of data. It looks as though they are being intentionally dropped by NATS when the Benthos consumer is busy. It helps to add more consumers in a broker:

[code]

Other than this I'm not sure what we can do on the Benthos side. It's a pub/sub at-most-once queue so you don't have a guarantee of message delivery, which in the case of

[2018-09-11 21:11] nwest1 commented on #99
Thanks for looking at this. I'm going to keep digging into nats to understand what's happening under the covers.

I wasn't expecting the need to do this sort of worker pool tuning but it's starting to make more sense as I'm learning.

[2018-09-12 08:30] silentnull commented on #83
Hi, where I can see this plugin example: https://github.com/Jeffail/benthos/blob/feature/plugin-example/lib/input/plugins/mysql.go#L48 - this link is expired

[2018-09-12 09:11] silentnull commented on #83
Hey @Jeffail . Yep, I saw this repo, but there is only simple benthos plugin example, but I will extended example with mysql :) Is possible get source code of plugin for mysql ?

[2018-09-12 09:16] Jeffail commented on #83
@silentnull ah right, I've pushed that example branch back so you can see, the link should work again now. I'll make sure it exists in the example project before I delete again.

[2018-09-12 14:14] Jeffail commented on #91
Okay I think I found a middle ground for documentation.

[2018-09-12 14:14] #91 closed

[2018-09-14 06:16] wallyqs commented on #99
It looks like the input is using an unbuffered channel + ChanSubscribe from the Go NATS client:

https://github.com/Jeffail/benthos/blob/55ed16b91d222214a2523929f9f53211c8b41700/lib/input/reader/nats.go#L101-L107

I'd suggest making the channel a buffered channel and raising the channel size instead (for example for sync subscriptions the NATS client uses a channel of 8192 size by default), otherw

[2018-09-14 07:06] Jeffail commented on #99
Cool, thanks for looking into this @wallyqs, I'll add a new param probably called `prefetch` to set the size of the channel. The value `8192` seems potentially huge if the payloads are large so the default will probably be small to start with.

[2018-09-14 09:53] Jeffail commented on #99
Implemented: https://github.com/Jeffail/benthos/commit/e3274f32925aafc03ad10b9bdadbf02afa26178a
Released: https://github.com/Jeffail/benthos/releases/tag/v0.31.2

[2018-09-14 09:53] #99 closed

[2018-09-14 11:44] andytruong opened #101 "Fan-in processor?"
Hi there,

I am going to use benthos to build a data pipeline that aggregate 1000 messages to process publish to my consumer. But in my can, I need in 5 seconds, the messages being in buffered should be processed — I need messages should be processed if one of two of these conditions pass:

1. Buffer reach 1000
2. Tick interval reach 5s.

I am using this configuration:

[code]

Thanks for supporti

[2018-09-14 12:58] Jeffail commented on #101
Hey @andytruong, I think I understand your problem. You might be better off using the [`batch`](https://github.com/Jeffail/benthos/tree/master/docs/processors#batch) processor instead of `combine`, it would let you batch messages on either:

- The batch size reaching a limit (in this case you would be measuring in bytes, not messages)
- A time period is reached (5s)

This differs from your require

[2018-09-14 14:06] andytruong commented on #101
Awesome. Thanks so much Jeff (:

[2018-09-14 14:06] #101 closed

[2018-09-15 07:56] Jeffail commented on #101
@drushman, the `batch` processor only checks the conditions of its send on the event of a message being received. If you set up an AMQP queue with messages totaling less than 1000 bytes and Benthos reads the entire queue within 10ms then your example won't display any output.

If you want to see your example work you need to feed it a continuous stream of data. Alternatively you could fake it by s

[2018-09-16 08:39] mintbridge commented on #47
Figured out what the issue is, the delimit param defaults to new line, which breaks up the ascii armoured message into parts and so cant be decrypted. The files input works ok as it reads the whole file as one. Is there a way to set the delimiter to EOF, go has io.EOF but we would need to work out a way to pass that from yaml/json. Maybe easier to default to EOF and let people set it as newline?

[2018-09-16 08:46] Jeffail commented on #72
https://github.com/Jeffail/benthos/commit/b3db9b8c4cee52515b881eb84b88e3faaf54aa3d

[2018-09-16 08:46] #72 closed

[2018-09-16 14:12] gurre opened #102 "nil pointer dereference on arm7 v0.31.2 release"
Using release v0.31.2.

[code]

[code]

[2018-09-16 14:15] gurre commented on #102
It's the same for the v0.31.1 release

[code]

[2018-09-16 15:26] Jeffail commented on #102
Hey @gurre, thanks for raising this. It looks as though this could be a problem in multiple areas of Benthos where 64-bit integers are atomically modified. I believe I've fixed this issue as well as a few others but there's a possibility that there might be other nasties lurking in there.

If you see any more crashes let me know and I'll get them fixed ASAP, it's fairly easy to fix once the issue

[2018-09-16 15:26] #102 closed

[2018-09-17 08:40] Jeffail opened #104 "Add message count to batch processor"
It would be nice to add an optional message count limit to the `batch` processor and then we can deprecate the `combine` processor.

[2018-09-17 20:06] Jeffail commented on #97
https://github.com/Jeffail/benthos/commit/fad3bcba3d2671a0ef1892c8377e01e8b86a5d1d

[2018-09-17 20:06] #97 closed

[2018-09-17 20:07] Jeffail commented on #104
https://github.com/Jeffail/benthos/commit/8c72286b731cd4463035ff442b9fafe7f19f75f4

[2018-09-17 20:07] #104 closed

[2018-09-18 12:12] andygrunwald opened #105 "Support for Google Cloud Pub/Sub"
Google Cloud Platform offers [Cloud Pub/Sub](https://cloud.google.com/pubsub/docs/overview).
From the first glance, it looks comparable to the native Redis Pub/Sub functionality in terms of Message delivering and queueing.

With this support, it would enable projects (like mine) to use benthos and use Services from Google Cloud, instead of AWS.

[2018-09-18 12:44] Jeffail commented on #105
Hey @andygrunwald, I'd be more than happy to have a GCE pub/sub connector. From looking at the API it seems fairly straight forward to add one. Would this be something you'd be interested in implementing? Otherwise I can probably take a look this week.

[2018-09-18 12:54] andygrunwald commented on #105
I would be interested to implement this. Sadly, in the next few weeks, I am quite short on time in my private life. That is the reason why i "just" opened up the ticket to gather first some feedback and getting a first "Yep, sounds good" or "Nope, more information needed".

I am not yet familiar with the benthos source code and would like to use a PR where e.g. Redis was implemented. I think this

[2018-09-18 12:55] Jeffail commented on #105
Sounds good

[2018-09-18 15:28] drushman opened #106 "Redis output: support Hash object type"
May we consider to support Redis hashes data type(https://redis.io/commands#hash)? That's really helpful when we want enrichment/parse data in processor then cache it in Redis.

[2018-09-18 15:35] drushman commented on #101
Thanks @Jeffail, Your suggestion was working for me. but it only work perfectly when `throttle.period` is the same value as `batch.period_ms` and in that case `batch.byte_size` never be reached.

[2018-09-18 17:17] Jeffail commented on #106
Hey @drushman, it would be possible. We could create an output type where the `id` of each entry is interpolated similar to how the `files`, `hdfs` and `s3` outputs work. How would you imagine the hash type would be constructed? Would you expect to specify the key/value pairs with interpolation, something like this:

[code]

Or would you expect the JSON structure to automatically be serialised int

[2018-09-18 23:06] andytruong commented on #106
Redis Hash does not support nested structure, we must define simple model or use redis-json data structure.

[2018-09-19 03:37] andytruong opened #108 "Batch processor › We need better logic for period checking"
The problem is explained below:

![20180919_103748](https://user-images.githubusercontent.com/41143/45729800-6a081c00-bbf8-11e8-8588-b25e7ae3eebb.jpg)

That batch::ProcessMessage() is only executed if there's some message published into the queue.

Instead of that, I suggest we move the flushing logic  into batch::flush(), and we run an other goroutine to check period time.

[2018-09-19 09:10] Jeffail commented on #108
Hey @andytruong, can you explain more about your use case? Normally I would expect a continuous stream of data, it looks as though you are expecting bursts of messages and need to batch messages by that burst, what's the ultimate goal here?

Unfortunately due to the limitations of a processor type we can't introduce this within the `batch` processor without breaking the resiliency guarantees withi

[2018-09-19 15:17] andytruong commented on #108
We are developing an application for user to import data, the number of records is unexpected, it can be 500, 800, 1k or 10k. When the uploaded the csv file, I can't sure when is the next message; can be days. So that with current structure of Benthos, in theory, my messages can be hang for long time.

Thanks for your fast feedback.

[2018-09-19 19:36] Jeffail commented on #105
Got it working: https://github.com/Jeffail/benthos/tree/feature/add-gcp-pubsub, haven't tested any edge cases yet but I'll probably merge this week.

[2018-09-21 14:29] Jeffail commented on #105
Merged: https://github.com/Jeffail/benthos/commit/35cd4b00bf884ea9bb82d6e005144bee49b17fb6
I'll do a release probably this weekend.

[2018-09-21 14:30] #105 closed

[2018-09-22 08:02] andygrunwald commented on #105
Thank you, @Jeffail
I didn't have time to check the code in detail. I will try to build a product with this and see how it goes :)

[2018-09-22 09:14] Jeffail commented on #105
@andygrunwald, cool, I've left the config parameters minimal for now so authentication is done via env vars, meaning it's not possible at this point to read/write using different accounts in the same process. If you want any fields adding open this ticket back up and let me know.

[2018-09-24 22:00] Jeffail commented on #108
Hey @andytruong, whats the purpose of the batching? Is it more than just improving throughput? I've thought through my options here and I can't see a reasonable way of supporting this use case without intentionally adding mechanisms to break the delivery guarantees within Benthos, which I'm not prepared to do.

[2018-09-25 00:40] andytruong commented on #108
Hi Jeff,

Thanks again for your comment. We are having around the Benthos wrapper ^^

[2018-09-25 00:40] #108 closed

[2018-09-26 14:53] andygrunwald commented on #105
completely fine. I think this is also the best approach. Thanks for your effort!

[2018-09-27 11:42] remen opened #111 "benthos.input.amqp logs password in cleartext"
When using amqp as input, the full URL, which includes the password, is logged on info level.

[code]

[2018-09-27 11:55] Jeffail commented on #111
Yikes, thanks for raising this @remen!

Fixed: https://github.com/Jeffail/benthos/commit/c43cff528690b41f9ec9722a51ffe778f263532c
Released: https://github.com/Jeffail/benthos/releases/tag/v0.34.1

[2018-09-27 11:55] #111 closed

[2018-09-27 12:33] seanlaff opened #112 "ElasticSearch _bulk Support"
This library is awesome Jeffail, thanks for your work on it.

Currently the elasticsearch output iterates over the messages and makes a post to elasticsearch for each. For large scale elasticsearch ingestion, it is preferred to use the `_bulk` endpoint.

I think we should add a `bulk` flag to the elasticsearch config that controls whether the requests go through `_bulk`, or the `index` endpoint. T

[2018-09-27 13:31] iluminae opened #113 "S3 output set 'endpoint' to allow use with non-amazon servers"
The S3 input has the SQS functionality that does not really translate to other services, but the S3 output works great with google gcs (w/ interoperability api, aka S3) and minio.

it would be extremely easy to add to this minimally, eg:
[code]

The unfortunate part is the code says Amazon alot, but the above is all that is necessary.

[2018-09-27 13:59] Jeffail commented on #112
Hey @seanlaff, sounds good. Is there a significant disadvantage to using the `_bulk` endpoint? If not I'd probably default to using it when batch sizes are greater than 1 and we can avoid extra config fields.

[2018-09-27 14:03] Jeffail commented on #113
Hey @iluminae, sounds good. I'm happy to tackle this next time I revisit AWS configs. I'm thinking of reducing the code duplication across `aws` components in Benthos, I'll make sure to add an `endpoint` field when I do it.

[2018-09-27 14:09] iluminae commented on #112
+1 to transparently using bulk on `message.Len() > 1`.

From my understanding, using bulk will transfer all the changes in the bulk 'batch' and afterwards execute reindexing on those new documents. This should reduce load on the server - and thus increase potential throughput.

[2018-09-27 15:06] seanlaff commented on #112
The len > 1 approach sounds good to me.

The downside with `_bulk` is that all of the documents in a request do *not* get executed as a transaction- meaning any number of the documents could fail to be inserted (schema mis-match, version conflict, etc).

You could find yourself in a situation where you have a benthos `batch` processor that is grouping together 1000 documents to send to the elastic

[2018-09-29 07:51] Jeffail commented on #113
Implemented: https://github.com/Jeffail/benthos/commit/e56253b5684d5b0eddb1d3d4094c157bd19d506c
Released: https://github.com/Jeffail/benthos/releases/tag/v0.34.3

[2018-09-29 07:51] #113 closed

[2018-10-01 15:37] cludden commented on #112
I've encountered a similar problem with Kinesis' bulk write functionality. I opted for the Kinesis [output](https://github.com/Jeffail/benthos/blob/master/lib/output/writer/kinesis.go#L203) to inspect the bulk response for transient errors and retry with backoff logic. I have used a similar approach with elasticsearch in the past, however, certain errors (mapping conflicts, invalid payloads) will

[2018-10-02 10:36] Jeffail commented on #112
Yeah I was going to suggest we model this based on the Kinesis output work @cludden did. There's a chance I can tackle this later in the week, maybe next, but I've got other priorities right now.

[2018-10-03 16:13] Jeffail commented on #38
Hey @seanlaff, how would you intend on using the metadata? For cases like that I would usually either suggest setting and referring to the batch wide metadata on the first part, or just set the field on all parts.

[2018-10-03 22:34] seanlaff commented on #38
@Jeffail Inspecting the metadata on the first part is the solution I opted for in the end, and works pretty well. My use case may be a little contrived, but this is what it looks like:

Data is streamed from pubsub to a benthos batch processor, and then to a database sink. However the database table that the data is written into depends on a dynamic field in the message. Additionally, the database

[2018-10-04 08:41] Jeffail commented on #38
@seanlaff, sounds like a reasonable approach. Let me know if you hit any issues with doing it this way and I'll take another look.

[2018-10-10 09:38] Jeffail opened #115 "AWS S3 input capped at 1000 items"
When the [AWS S3](https://github.com/Jeffail/benthos/blob/master/lib/input/reader/amazon_s3.go#L139) input is used without an SQS queue the input is meant to download every object within the bucket under a specified prefix. However, it appears as though the API is capped at 1,000 objects, so if the bucket exceeds that we lose data.

It looks as though [the API now allows pagination](https://docs.a

[2018-10-10 13:57] #115 closed

[2018-10-10 14:02] Jeffail commented on #115
Released: https://github.com/Jeffail/benthos/releases/tag/v0.34.8

[2018-10-10 21:23] nwest1 opened #117 "Influx line protocol output (or reformat?)"
Looking for some advice/direction as to how to reformat an existing message (probably json) into ILP. I'm hesitant to think of this as an output - it seems as though it might fit into a processor that would reformat a message into a single line, possibly taking into account the metadata tags as well.

Sample benthos config:
[code]

ILP format:
[code]

[2018-10-11 11:52] Jeffail commented on #117
Hey @nwest1, yeah that looks like something that should be implemented as a processor. From the example you showed this could actually be done with the `insert_part` processor since the `content` field uses config interpolation:

[code]

The `process_batch` part means this would be safe to use even when you are batching messages together.

[2018-10-24 04:10] rucciva commented on #57
Hi @Jeffail , any news on this?

IMHO,  a separate processors is better than combining it with the text processor.  I think the config might be different. two options of how the config will look like comes in mind,

first:

[code]

i think that a message containing only date value is rare, thus the date value must be a part of or a field in the message. this also imply that replacing the whole mes

[2018-10-24 04:27] simonrussell opened #118 "Suggestion: Subprocess processor"
It would be super useful for making some more complex transformations to be able to run a subprocess and pipe data through it.  There could be a few options, but the simplest one would be one-line-in stdin maps to one-line-out on stdout.  Stderr would be passed on (for logging purposes).

Benthos is super useful because it can connect to so many things; it would make doing a totally custom transfo

[2018-10-24 18:36] Jeffail commented on #118
Hey @simonrussell, would you be able to give a detailed use case? There might be an existing solution I can offer.

[2018-10-24 18:48] Jeffail commented on #57
Hey @rucciva, I've been thinking about this, an alternative would be to use the `process_map` processor, allowing you to extract fields, apply a `date` processor and then place the result in a path. That way we can have a flow where the processor uses function interpolation for multiple args and a value.

It would look something like this:

[code]

[2018-10-24 23:02] simonrussell commented on #118
I'll give you a hypothetical which is close enough to how I want to use it (the actual use case is probably too complicated, but this captures the core of it).

I've got a bunch of compressed JSON events coming in a Kinesis stream; I need to be able to process one at a time (not necessarily in-order) in a way which can't be done with Benthos (actually understanding what the payload is etc).  Then

[2018-10-25 00:58] rucciva commented on #57
i like that `process_map`, it makes it looks simpler, and reusable to other sub processor

[2018-10-25 08:40] Jeffail commented on #118
Cool, I've had similar requests in the past. The development of something like this wouldn't be too heavy in terms of effort, but we'd need to do three things:

1. Modify processors to all have a `Close` method, where we would perform our clean up of the process being managed. This would include modifying the general interface for processors.
2. Update all components that have child processors so

[2018-10-29 20:55] Jeffail commented on #112
Implemented: https://github.com/Jeffail/benthos/commit/654064f5537f5ecc9a9068e70c2145c41d39d6b0
Released: https://github.com/Jeffail/benthos/releases/tag/v0.34.13

Give it a try and let me know how it goes.

[2018-11-01 03:40] iluminae opened #119 "gcp_pubsub input/output set receive/publish setting from config"
in the gcp_pubsub input and output, we cannot set the config via yaml. The default values for input are as follows:
[code]
Note the `MaxOutstandingMessages`. And as such, the following with always deadlock:
[code]
Since we will try to pull 1001 messages from pubsub, and it will stall waiting for ACKs from any of the first 1000. I suggest setting at least `MaxOutstandingMessages` and `MaxOutstandin

[2018-11-01 03:41] iluminae commented on #119
implemented in https://github.com/Jeffail/benthos/pull/120

[2018-11-01 10:15] Jeffail commented on #119
Thanks @iluminae, I'll leave this open for adding the output fields in case anyone wants to tackle that also.

[2018-11-01 16:41] Jeffail opened #121 "JSON processor with YAML config can't handle arrays"
I think this will reproduce the issue:

[code]

Basically when the raw structure gets converted into a valid JSON object we walk it to make sure any `map[interface{}]interface{}` types are converted to `map[string]interface{}`. Currently the maps are walked correctly but arrays aren't.

[2018-11-01 17:04] Jeffail commented on #121
Also it would be cool to have the ability to not escape the value function interpolations.

[2018-11-01 18:04] Jeffail commented on #121
https://github.com/Jeffail/benthos/commit/975c6960e4afff413d23a3f4cfc15db34b111126 fixes the arrays issue. Haven't settled on a solution for interpolations yet but this clearly needs looking at.

[2018-11-01 18:04] #121 closed

[2018-11-01 20:49] Jeffail opened #122 "Support AWS Elasticsearch"
Elasticsearch instances that are managed on AWS require the same authentication headers as other AWS services. Since the rest of the API is the same it would be good to allow the existing Elasticsearch output to also be able to authenticate with AWS as an option.

I'm not a huge fan of bloating component configs with AWS authentication fields, so maybe as a first pass we could just have an `aws.en

[2018-11-06 19:33] Jeffail commented on #112
Closing for now, if any issues pop up then please reopen this ticket.

[2018-11-06 19:33] #112 closed

[2018-11-07 16:13] Jeffail opened #124 "Add regex operator to the text processor"
It would be nice to have a text processor operator for reducing the document to a regular expression partial match, we currently already have a replace with regexp operator: https://github.com/Jeffail/benthos/tree/master/docs/processors#replace_regexp, but it would also be good to have an operator to simply return the matching section of the expression.

I'm labeling this as a good first issue as

[2018-11-08 03:46] u5surf commented on #124
@Jeffail Hi, I'm supposed to work for this issues. but my localmachine does not find "nanomsg.org/go-mangos"
[code]

go version
[code]

I think  go-mango has moved github.com/nanomsg/mangos

[2018-11-08 11:54] Jeffail commented on #124
Hey @u5surf, I tried to pull it locally and it worked, that import path is what the owner recommends so I'd rather not change it https://github.com/nanomsg/mangos#using-go-get

Are you able to connect to nanomsg.org at all?

[2018-11-08 15:43] Jeffail commented on #124
Merged: https://github.com/Jeffail/benthos/commit/c8379a2ad7d99d2e247e795353913f7a3692fb3c
Released: https://github.com/Jeffail/benthos/releases/tag/v0.36.3

Thanks @u5surf

[2018-11-08 15:43] #124 closed

[2018-11-19 09:14] patrobinson opened #127 "Dynamically discover Kinesis Shards + automatic horizontal scaling"
[The Kinesis configuration requires you to specify a shard](https://github.com/Jeffail/benthos/blob/master/docs/inputs/README.md#kinesis) to receive records from. Ideally we should discover shards automatically.

I maintain a [Kinesis library](https://github.com/patrobinson/gokini) written purely in Golang (i.e. not using the Java MultiLangDaemon) and was wondering if you'd be interesting in integ

[2018-11-19 09:35] patrobinson commented on #127
Hmm, no we try and gracefully shutdown (i.e. let it finish what it's doing).

I'd consider this an "ungraceful" shutdown, which we don't have an API to signal that. Let me have a think about how that could be implemented.

[2018-11-20 16:58] ghballiet commented on #38
@Jeffail I've raised a PR for a candidate implementation of metadata with the Kafka output type - happy to address any comments there.

[2018-11-21 20:40] thinktainer opened #129 "support nats_streaming max-inflight config param"
It would be good for the nats streaming config to expose the MaxInFlight parameter (https://github.com/nats-io/go-nats-streaming/blob/master/sub.go#L111).
This would help us achieve desired batch document size for indexing in elasticsearch. We have small messages. Our buffers are not going to be of a reasonable size with the default configured max of 1024 messages.

[2018-11-21 22:11] Jeffail commented on #129
Hey @thinktainer, sounds sensible. Would you be able to make a pull request for this? Otherwise I can grab it next time I have a chance.

[2018-11-22 11:42] thinktainer commented on #129
#130

[2018-11-22 15:58] Jeffail commented on #129
Thanks @thinktainer!

Implemented: https://github.com/Jeffail/benthos/commit/b96c689d45999d6f6ce6c2511502c042aefc5494
Released: https://github.com/Jeffail/benthos/releases/tag/v0.37.4

[2018-11-22 15:58] #129 closed

[2018-11-25 11:22] Jeffail opened #131 "Road to V1"
Hey all, I would like to start the process of moving Benthos to a solid V1, and from that point onwards take a more conservative approach to breaking changes. This would both be in terms of the API and also the config spec of the service.

I'm going to use this issue for defining and discussing any features and breaking changes that we feel should be part of the path towards V1.

### Config

- ~~A

[2018-11-25 12:33] Jeffail opened #132 "Stronger config linting"
Currently it is possible to use Benthos configs with silently failing sections. For example, the following input section would silently ignore the `kafka` section:

[code]

This behaviour is useful for creating configs where the pipeline can change based on environment variables. However, sometimes these sections are actually bugs, and it would be nice to expose them.

I'm proposing that we add a

[2018-11-25 12:34] Jeffail opened #133 "Replace all integer time period fields with string based"
For V1 I would like all period fields to be changed to string based (e.g. swap `period_ms: 5000` for `period: "5s"`).

In order to make the transition easier for existing users I would like stronger config linting to already be in place that will be able to point out deprecated fields still being used. Therefore, this issue is blocked on https://github.com/Jeffail/benthos/issues/132

[2018-11-27 10:49] Jeffail commented on #132
Linting has been added as a command flag: https://github.com/Jeffail/benthos/blob/master/docs/configuration.md#linting

[2018-11-27 17:03] Jeffail commented on #132
I've now also added lint logs (INFO level) and a new flag `--strict`, which will cause Benthos to abort operation if it detects lint errors in a config file. Hopefully these new tools make it easier to safely operate Benthos beyond future breaking changes in the config.

[2018-11-27 17:03] #132 closed

[2018-11-30 15:01] Jeffail opened #134 "PSA: Large metrics changes incoming"
The metrics paths we currently see could be vastly improved by shortening the paths where there is redundancy, and expanding the paths where information is useful. For example `pipeline.processor.process_batch.processor.jmespath` could be improved to `pipeline.processors.0.process_batch.0.jmespath`.

I think in terms of APIs we should enforce a general rule: constructors do not prefix their metric

[2018-12-03 16:23] thinktainer opened #135 "define / explain monitoring strategies for containerized environments"
I could not find any documentation / specifications for how to monitor the service processes health or readiness. This would greatly help along satisfying our requirements for deploying benthos pipelines in a kubernetes environment. I would like to suggest that as a starting point a link to a blog post / video explaining how to do this would be great (discoverable via Readme.md ideally).

[2018-12-03 16:45] Jeffail commented on #135
Hey @thinktainer, thanks for raising this. You can use the HTTP endpoint `/ping` to check whether the service is running and as a general healthcheck.

The concept of "readiness" in the case of Benthos is somewhat muddy as it depends on exactly what the input and output configurations look like so I'm not entirely decided on what a good mechanism here would be. For the majority of use cases the se

[2018-12-04 10:57] thinktainer commented on #135
I just discovered that these metrics will allow us to do what we need to in our orchestration, by using prometheus alerts.
Sharing here to give some pointers to doc efforts / other users who might search for this:
[code]

[2018-12-04 20:18] Jeffail commented on #134
This is where I'm at right now: https://github.com/Jeffail/benthos/commit/8721fd9214ef5e7fd1ae6151a93923225b50e4d0

[2018-12-04 22:31] Jeffail commented on #135
Hey @thinktainer, the next major release will have an endpoint `/ready`, which returns a 200 only when both the input and output are connected, otherwise a 503 is returned. I've added a small section to the README explaining this in a new monitoring section: https://github.com/Jeffail/benthos#monitoring

[2018-12-05 14:56] thinktainer commented on #135
Awesome, Thank You very much for the fast turn around! Happy to close this now.

[2018-12-05 14:56] #135 closed

[2018-12-07 10:44] Jeffail opened #136 "Structured logging for log processor"
It would be cool if the `log` processor could have custom fields populated with function interpolated values similar to how the `metrics` processor works. This would require looking at the logger API and trying to find a backwards compatible way of allowing this.

[2018-12-10 19:15] Jeffail commented on #118
Hey @simonrussell, got an experimental version of this now: https://github.com/Jeffail/benthos/tree/master/docs/processors#subprocess

Implemented: https://github.com/Jeffail/benthos/commit/1c41d0401c4995b70a923ea3d9be4bc7fa158d74
Released: https://github.com/Jeffail/benthos/releases/tag/v0.40.0

[2018-12-10 19:15] Jeffail commented on #118
Closing this ticket but if you want to propose and discuss changes feel free to reopen it.

[2018-12-10 19:15] #118 closed

[2018-12-10 19:16] #134 closed

[2018-12-11 05:01] simonrussell commented on #118
Looks awesome, I hope to get a chance to try it out over the coming days. Thanks :)

[2018-12-19 17:58] Jeffail commented on #57
Hey @rucciva, just to keep you up to date. I'm thinking of solving this instead via the new [AWK processor](https://github.com/Jeffail/benthos/tree/master/docs/processors/README.md#awk) by adding [date related functions](https://github.com/Jeffail/benthos/tree/master/docs/processors/awk_functions.md#date-functions).

This example gives a brief look at how it works: https://github.com/Jeffail/benth

[2018-12-20 01:35] rucciva commented on #57
Hi @Jeffail, this is very nice too. Thanks.

I think the issue can be closed

[2018-12-20 07:38] #57 closed

[2018-12-25 10:55] Jeffail commented on #38
Closing this as it's become stale. The bulk of the work is done, anything else can be tackled if/when people need it.

[2018-12-25 10:55] #38 closed

[2018-12-25 10:56] #117 closed

[2018-12-26 12:45] rucciva opened #138 "Question regarding batch period"
Hi @Jeffail, just a quick question regarding batch processor,

the docs said 'The period field is non-empty and the time since the last batch exceeds its value'. Does it means the period option will not be in effect at the first batch?

In my case, i have set it up as output-broker's processor (consisting of kafka and elasticsearch) with 20MB batch and 10000 period. But in about 15 minutes , i don

[2018-12-26 13:58] Jeffail commented on #138
Hey @rucciva, it should work with the first batch. Did you upgrade recently? The newest version of Benthos no longer has int based periods so it might be that you need to change a field. If you run `benthos -c yourconfig.yaml --lint` it should tell you.

[2018-12-27 02:19] rucciva commented on #138
yes i was using 0.41.1 I didn't test it further with that version but since upgrading to 0.42.1 it works.

thanks again.

[2018-12-27 02:19] #138 closed

[2018-12-27 16:11] danrubenstein opened #139 "ExpiredIteratorException in Kinesis"
Hi @Jeffail (et al)

Thanks for this library, I'm really excited by it.

I noticed that in the kinesis input reader, if one is using the dynamodb table to manage commits to the log, if the Benthos kinesis reader records a message with 0 records, Benthos will throw a timeout error (see https://github.com/Jeffail/benthos/blob/master/lib/input/reader/kinesis.go#L230). I'm sure there's a good reason f

[2018-12-27 16:34] Jeffail commented on #139
Hey @danrubenstein, next time I'm at a laptop I should be able to quickly fix this. If you want to try a PR that's also fine, I'm pretty sure https://github.com/Jeffail/benthos/blob/master/lib/input/reader/kinesis.go#L249 needs to be moved before the return statements so that the latest iterator is always kept.

[2018-12-27 17:02] Jeffail commented on #139
@danrubenstein I suspect this is what is needed: https://github.com/Jeffail/benthos/commit/895562a270d3933842d38f57497c9004e9098d46 but I don't have any Kinesis sources to try it out with. Could you test it with v0.42.2?

[2018-12-27 19:32] danrubenstein commented on #139
Hi @Jeffail

Thanks for pushing this update.

I did a little bit of testing with this, and it seems like it solves the immediate issue in a single benthos connection (in my case, Kinesis stream to http connection). However, even with this fix, there's a broad issue that the change to the shard iterator does not actually get committed to the Dynamo table. As a result, if you stop the application an

[2018-12-27 20:07] Jeffail commented on #139
Hey @danrubenstein, dang, I see the problem. My understanding of Kinesis is limited so I previously understood the shard iterator as a simple record offset. We can't commit the iterator out of sync with message transactions otherwise we lose our at-least-once delivery guarantees.

I can check for the iterator expiry error during the `Read` call, and that way when it expires we can acquire a new on

[2018-12-27 20:20] Jeffail commented on #139
@danrubenstein, turns out I can specify the starting sequence number in the GetIterator request so I'll use that, should fix all of these issues. Hopefully I can get a build out tomorrow.

[2018-12-27 21:38] danrubenstein commented on #139
No worries! Thanks for being so responsive to one issue.

I'll probably have a chance to run it by some point tomorrow during the day. I've been using it in docker, so that's (weakly) preferred, although I can also build the binary from that branch, so long as the `make install` command still works.

Is there a more formal testing setup for kinesis beyond what's in the makefile and associated go s

[2018-12-27 22:03] Jeffail commented on #139
Cool, I've pushed a docker image with the tag `jeffail/benthos:v0.42.2-kinesis-test-1`. What would be awesome is if you could test steps like this:

- start stream with existing dynamo table from before
- see data flow
- stop data flow but leave service running for 10 mins
- restart data, make sure it starts flowing again
- stop Benthos for 10 minutes (wait for expiry)
- start Benthos and make sur

[2018-12-28 14:44] Jeffail commented on #139
Gave it a slam today and it looks okay, I'll do a proper tag/release this evening unless you report errors.

[2018-12-28 14:48] danrubenstein commented on #139
Sounds like a good plan today. I'll keep you posted with what I find.

[2018-12-28 17:53] danrubenstein commented on #139
Alright! It worked!

The steps I ran through are what you outlined in the previous posting.

-------

Reference configuration (for folks who want to reproduce).

`config.yaml` (to be mounted inside the docker container)

[code]

AWS CLI commands to put data in (I roughly used a `while { do this }` type command to make the flow happen with discrete data).

[code]

[2018-12-28 18:12] Jeffail commented on #139
Ace! Thanks a lot for raising this and taking the time to try my fixes out.

Fixed: https://github.com/Jeffail/benthos/commit/7729b084a2fdc648fceaf02c42f3ae6324262a6a
Released: https://github.com/Jeffail/benthos/releases/tag/v0.42.3

[2018-12-28 18:12] #139 closed

[2019-01-01 00:50] #131 closed

[2019-01-05 02:57] patrobinson opened #140 "Unclear behaviour of json processor with set operator"
If you have a string or number value for `value` when using the json set operator it adds the value to the object:

[code]

Input:
[code]

Output:
[code]

If you set value to an object though, it over-writes the existing object:

[code]

Input:
[code]

Output:
[code]

Note the behaviour is the same even if you do not specify the `key` field.

This is surprising. I would expect this to create a nes

[2019-01-05 04:58] patrobinson opened #141 "Case statement processor"
I have a use case where I want to normalise some data from a JSON blob that looks something like this:

[code]

The contents of "field" depends on the "type" value. We want to normalise the field to have a single, consistent value based on the "type" and some other information.

Currently we do this in python with a dictionary of lambdas

[code]

Alternatively this could be done in a case statemen

[2019-01-05 12:47] Jeffail commented on #140
Hey @patrobinson, the field name for specifying the target path is `path`, not `key`. I suspect you might have interchanged between the two during your tests. If you change your second example to:

[code]

You should see: `{"a":"b","foo":{"bar":"baz"}}` on the output.

[2019-01-05 13:38] Jeffail commented on #141
Hey @patrobinson, sounds like a sensible idea. I would probably add both a `switch` and a `switch_value` processor similar to the `group_by` and `group_by_value` processors.

It might be a while before I have time to implement these, but in the meantime you can probably achieve something only slightly more verbose than your python function with the [`awk` processor](https://github.com/Jeffail/bent

[2019-01-06 02:51] patrobinson commented on #140
Nice thanks @jeffail that would make a lot more sense, I'll give it a shot

[2019-01-06 22:32] #140 closed

[2019-01-10 13:50] thinktainer opened #142 "Enhancement: Nats Streaming disconnect when connection is stale"
Currently when the connection to the nats streaming server is interrupted in any way, the client will not be notified of this. The nats streaming client library offers a mechanism that allows the client to react to loss of connection (see: https://github.com/nats-io/go-nats-streaming#connection-status).

This proposal is to suggest to make the input report the disconnected status, passing control

[2019-01-10 14:35] Jeffail commented on #142
Cool, thanks for pointing this out @thinktainer, I'll take a look.

[2019-01-10 14:36] Jeffail opened #143 "S3 Metadata"
We should be grabbing metadata from S3 downloads and writing them in S3 uploads.

[2019-01-10 16:07] Jeffail commented on #143
Implemented: https://github.com/Jeffail/benthos/commit/f527b92f233bf7ffe58386e019587d673f54aac2

[2019-01-10 16:27] Jeffail commented on #142
@thinktainer, I think I have a fix for this: https://github.com/Jeffail/benthos/commit/324af296ef27b0db2503f936d8b67859d9b2b564, is reproducing this issue as simple as disconnecting the server for a period of time?

I'm assuming the output is okay since it's a synchronous call being made, so if the connection has been lost I would hope an error is returned, but I'll check it as well just to be sur

[2019-01-10 16:57] Jeffail commented on #142
Okay I've managed to reproduce and that fix wasn't quite enough, also the output wasn't able to recover either. I've got a fix that seems to work well for both: https://github.com/Jeffail/benthos/commit/5b882012821dddf0f5474c11f9f7e0a920b7ed08

[2019-01-11 03:18] patrobinson opened #144 "Fan out input"
We have an existing tool that processes individual messages against a list of "rules". If any rule matches the resulting payload is then enriched/transformed and forwarded to a sink.

I would like to replicate this with Benthos, but the only way I can seem to do that is combining all rules into a complex or/and filter. This would make them difficult to modify and reason about.

It would be prefera

[2019-01-11 10:23] thinktainer commented on #142
Amazing, thank you for the fast turn around, i'll play around with that today!

[2019-01-11 10:40] Jeffail commented on #144
Hey @patrobinson, for complex filters and flows we use the [`process_dag`](https://github.com/Jeffail/benthos/tree/master/docs/processors#process_dag) processor, which automatically resolves a DAG against a map of [`process_map`](https://github.com/Jeffail/benthos/tree/master/docs/processors#process_map) processors and executes them in parallel tiers.

If you can break your needs down into an exam

[2019-01-11 14:03] #143 closed

[2019-01-14 09:55] Jeffail commented on #142
Closing this, please reopen if you find any issues.

[2019-01-14 09:55] #142 closed

[2019-01-15 10:48] thinktainer commented on #142
all good, thank you!

[2019-01-18 16:53] Jeffail opened #146 "Metric white/blacklisting"
It's possible to create a metric target type that shields a child metric target type with a whitelist of blacklist of metric prefixes. It would look in config something similar to this:

[code]

This would result in only metrics with the path prefix `pipeline.processor` being sent to statsd. This would make it a lot easier to prevent the flooding of metric aggregators for when cost is a constraint

[2019-01-22 15:53] bertpersyn opened #147 "how to add multiple input streams into one archive"
**Config**

Below my benthos config (I used plugins):

[code]

**Problem**

I have a S3 compat. API where I have my bucket and some files
As you can see, I use the prefix so I only fetch certain files (backup strat)

I want all the files the input downloads to be archived in one archive (tar) and ofc, the tar should get compressed.

**Question**
Can anyone show me how this can be done, or give me

[2019-01-22 16:09] Jeffail commented on #147
Hey @bertpersyn, the `archive` processor acts across a batch of messages, so in your case you would want to create a batch containing the entire bucket. You could either do that programmatically in your custom consumer or use the [batch processor](https://github.com/Jeffail/benthos/blob/master/docs/processors/README.md#batch).

Using `batch` with a condition would allow you to only complete the ba

[2019-01-22 16:12] bertpersyn commented on #147
Thanks for the quick response, I'll try it and give my feedback.

PS:
I can make a PR for the `force_path_style: true`, because I use Ceph and don't want to use s3://subdomain.domain.com

[2019-01-22 16:44] bertpersyn commented on #147
Jeffail, I can't seem to use the key `${!metadata:s3_key}` when naming the tar parts:

[code]

Every part (4, as you see), get the name of the first message.

Any ideas?

[2019-01-22 17:32] Jeffail commented on #147
Hey @bertpersyn, that's a bug, it should be interpolating the path per message of the batch (otherwise it's pretty pointless for this use case). I've pushed a fix in v1.1.3.

[2019-01-22 17:50] bertpersyn commented on #147
And it works!

To know the last message I can use some funky logic I suppose.

The case is: I need to archive all files for one day. The last file will have a S3 key with yyyy.mm.dd-hh-mm-ss in it.

If I find the condition, I'll post it here

[2019-01-22 19:31] thinktainer opened #148 "Plugin support on docker image"
I was trying to add some compiled plugins to the premade docker image you supply (thank you). However, since CGO is disabled in that build, and go plugins require dlopen() there's nothing i can do other than make my own docker container if i want plugin support. Would you consider providing a container build (potentially in addition to the one you already provide), that has this flag disabled, and

[2019-01-22 20:10] Jeffail commented on #148
Hey @thinktainer, there's images tagged with zmq (`latest-zmq`,`v1.1.3-zmq`, etc) that are built with cgo in order to link with ZMQ which you could try.

I haven't tried compiling plugins for docker use yet, but it's extremely sensitive to changes in the build environment so you will probably want to use the dockerfile as a base image: https://github.com/Jeffail/benthos/blob/master/resources/docke

[2019-01-23 11:18] bertpersyn commented on #147
Hi, this is what I ended up with:

[code]
After S3 received all keys, I've put `true` on the last element of the `targetKeys` array.

And when creating the message, I just put the key on the meta, like you instructed:

`meta.Set("last_key", strconv.FormatBool(target.lastKey)) `

Thanks!

[2019-01-23 11:20] bertpersyn commented on #148
Hi thinktainer.

This is what I use (not optimized in any way!!) and is Jenkins proof (the builder stuff of docker can be a pita):

[code]

[2019-01-23 11:30] Jeffail commented on #147
Ace, thanks for the update.

[2019-01-23 11:30] #147 closed

[2019-01-24 10:32] MilanJaro opened #149 "How to split single json object into mutliple parts"
Hey benthos gurus,

I am touching the tool for the first time and cannot figure out how to split single json object into mutliple parts.

Use case:
* input: http_server
* output: kafka
* pipeline: should split top level json list and generate single json objects into kafka topic

Sample json: {"object-list": [{"object": "first object"}, {"object": "second object"}]}

From this json I want to send

[2019-01-24 10:49] Jeffail commented on #149
Hey @MilanJaro, you can solve this by duplicating the message with `select_parts`, then you extract the part of the payload you're interested in with two `jmespath` queries:

[code]

The `select_parts` processor creates a message batch of size two which is why we're able to target the `jmespath` processors at specific messages by their index. I follow up here with a `split` processor in order to b

[2019-01-24 12:03] MilanJaro commented on #149
Thanks a lot for quick reply. My mistake, the description of the problem was not good. I didn't mention that I don't know in advance how many objects will be in object-list. So proper definition of the object-list is something like:

{"object-list": [{"object": "object 1"}, {"object": "object 2"}, ..., {"object": "object N "}]}

So I need to implement some kind of generic loop, which will iterate

[2019-01-24 13:23] thinktainer commented on #148
I'm using a similar approach as @bertpersyn. I can trial the zmq image as a base for our plugin experiments, and report back here. At the moment i'm using a similar approach to @betpersyn, where i'm building my own benthos + plugins.

[2019-01-24 13:45] Jeffail commented on #149
Ah that makes it more interesting! There wasn't a particularly nice way of doing this so I've added a `json_array` format to the archive and unarchive processors: https://github.com/Jeffail/benthos/commit/b1dd2a784ee1b0feb1cffaae8c991beeaa1e22a0

Which means you can now solve your problem with this config:

[code]

[2019-01-24 16:12] MilanJaro commented on #149
Hey @Jeffail,
it was amazing time to implement my use case! Confirming that the new stuf works.
Thanks!
Milan

[2019-01-25 01:50] JoshKCarroll opened #150 "migrating kafka client to Confluent?"
Hi there,
Have been tracking this library for a little bit and we have an internal tool that plays a similar function but is generally much less awesome so we are considering migrating to benthos. Just went through most of the videos and it was a very enjoyable hour and change (still need to watch the deep dive one) so thank you! SPOILER: going to push towards us migrating.

One thing that came up

[2019-01-25 09:30] #149 closed

[2019-01-25 09:43] Jeffail commented on #150
Hey @JoshKCarroll,

It's definitely possible, there's already a docker image built with cgo for adding ZMQ support: https://github.com/Jeffail/benthos/blob/master/resources/docker/Dockerfile.zmq, which is hidden from the main build using tags so it would be possible to add a new `c_kafka` input/output which would come with the same build.

I also need to update the `kafka_balanced` input since the

[2019-01-25 13:27] bertpersyn opened #151 "Metrics for ephemeral and batch jobs"
I'd like to request a new metric type:

If benthos is not long running, I'ld like to push my metrics, eg: if I use benthos as an ephemeral/batch jobs

For prometheus: https://github.com/prometheus/pushgateway

What do you think?

[2019-01-25 14:03] Jeffail commented on #151
Hey @bertpersyn, sounds reasonable, looks like the API would be a straight forward addition to the existing prometheus metrics target https://godoc.org/github.com/prometheus/client_golang/prometheus/push.

[2019-01-25 14:22] JoshKCarroll commented on #150
Appreciate that! Going to do some performance testing and will circle back. Happy to have this issue closed in the meantime to reduce clutter until there's a clearer idea of potential benefit (or not) if you'd prefer.

[2019-01-28 18:50] Jeffail opened #152 "S3 Download errors should report the bucket and key"
When the `s3` input fails to download a key N times it will move on after logging the error. The logs currently report the specific error but not the bucket or key, which is important information for diagnosing issues and should therefore be included.

[2019-01-29 09:32] Jeffail commented on #152
Also while doing this I'm going to add some more metadata fields (ContentType, LastModified, etc).

[2019-01-29 10:47] Jeffail commented on #152
Implemented: https://github.com/Jeffail/benthos/commit/2aca31a221393a4acaff3fc08f0c0c78eef070e4

[2019-01-29 10:47] #152 closed

[2019-01-29 11:43] Jeffail commented on #151
Implemented: https://github.com/Jeffail/benthos/commit/3030554577e72a096dd9bd40c12260517459f31a

@bertpersyn, would you be willing to test this?

[2019-01-29 18:38] fbabin commented on #152
The log creates an extra line that creates 2 cloudwatch logs instead of one. Line breaks at "status code":
{"@timestamp":"2019-01-29T10:01:48-08:00","@service":"swagfiend","level":"ERROR","component":"swagfiend.input","message":"Failed to read message: failed to download file '/run3/1ZBRqfWKbQb94FCBabga7uL50Yo.json' from bucket 'sig-nlp-lake-stg-eu-west-1': NoSuchKey: The specified key does not ex

[2019-01-31 09:36] asiragusa opened #154 "Broker output is unable to parse plugin"
I tried to use the `broker` output with a custom plugin but, instead of the correct struct, I receive a `map[interface{}]interface{}`. Digging into the code, I found out that it's due to https://github.com/Jeffail/benthos/blob/master/lib/output/broker_out_common.go#L84

The following config structure might fix the issue (even if it is a BC):
[code]

[2019-01-31 09:56] Jeffail commented on #151
Cool, please reopen if you find any issues.

[2019-01-31 09:59] Jeffail commented on #154
Hey @asiragusa, thanks for raising this. I'll take a look.

[2019-01-31 10:08] asiragusa opened #155 "Closeable interface"
Every interface (`input.Type`, `output.Type`, `processor.Type`, etc.) uses the `types.Closeable` interface, this requires a lot of boilerplate for stateless services.

A possible improvement would be to remove the `types.Closeable` interface and to test the instance against that interface. An helper function would simplify this:

[code]
A similar helper method can be written for `WaitForClose`.

A

[2019-01-31 14:03] Jeffail commented on #154
Hey @asiragusa, I think I've found a fix for this. Can you give it a try?

Commit: https://github.com/Jeffail/benthos/commit/415953b3c61a298434da586d2ef9634692a7ebdf
Release: https://github.com/Jeffail/benthos/releases/tag/v1.3.2

[2019-01-31 14:08] asiragusa commented on #154
It works! Thank you!

[2019-01-31 14:11] Jeffail commented on #155
Hey @asiragusa, I would suggest the mixin option since it is an explicit declaration by implementers that they have considered the lifetime of their type and that it's not needed. We could potentially add this somewhere in the API docs, maybe in the comment on `types.Closable`.

[2019-01-31 14:17] asiragusa commented on #155
Yep, that would do it :)

[2019-01-31 14:17] #154 closed

[2019-02-01 13:54] bertpersyn commented on #151
Hi jeffail!

I've tested it and it works, thanks 👍

The only remark I have:

sometimes I deal with long running jobs and when using grafana&prometheus, it'ld be cool if we push metrics to the gateway in a periodic way. Would it be possible to introduce variable `push_interval: time` and use a go func() that pushes the already gathered metrics to the gateway? When benthos finishes, the final metric

[2019-02-02 12:50] Jeffail commented on #151
Hey @bertpersyn, yeah that seems reasonable.

[2019-02-04 12:39] Jeffail commented on #151
@bertpersyn, I've added a field `push_interval` in v1.4.0 https://github.com/Jeffail/benthos/releases/tag/v1.4.0, can you give it a try?

[2019-02-04 15:27] JoshKCarroll opened #156 "json processor - add tag for each element in array?"
If I have a stream of json objects that each contain an array of unknown length like below:
[code]

Is there a way in benthos to add a tag `"Country": "USA"` to each element of that array? Spent some time with jmespath but didn't seem obvious how to do this sort of projection and doesn't seem to be supported in the json processor. Wondering if there's a known trick.

*More general question:* I mai

[2019-02-04 17:54] danrubenstein opened #157 "Add Host Header as configuration option for HTTP Client"
Per [this golang issue](https://github.com/golang/go/issues/7682) about the `Host` header, explicitly setting the host header is a no-op, and instead, the `Host` parameter, must be set on the Request object itself --

[code]

This enhancement would allow the `Host` parameter to be set on the `http_client` configuration just as any other header would be, but just because of how go does the implemen

[2019-02-04 17:56] danrubenstein commented on #157
I have a PR for this incoming, just working out the last kinks of making the new docs.

[2019-02-04 18:44] Jeffail commented on #157
Hey @danrubenstein, your PR looks good. An alternative to adding a new config field might be to try and do this seamlessly by iterating the headers map, it would need to be something like this within the constructor:

[code]

But then I imagine there's unique behaviour around this header that would make an explicit `host` config field more intuitive, hence why the Go API chooses to do it this way.

[2019-02-04 18:59] danrubenstein commented on #157
Thanks -- let me know where you come down on this. I don't have a strong preference, just need to be able to get at this property somehow.

[2019-02-04 19:23] #156 closed

[2019-02-04 21:54] danrubenstein commented on #157
Looks great - thank you for the fast follow up

[2019-02-05 21:06] Jeffail commented on #141
Hey @patrobinson, I've just added a `switch` processor: https://github.com/Jeffail/benthos/tree/master/docs/processors#switch, although your usecase would probably be better solved with a `switch_by_value` processor (TBD).

[2019-02-05 21:07] Jeffail commented on #141
Closing this for now as I want to see how this processor plays out before touching it again.

[2019-02-05 21:07] #141 closed

[2019-02-07 15:23] nuhamind2 opened #159 "Websocket documentation duplicated"
Doc on websocket as input : [input websocket](https://github.com/Jeffail/benthos/blob/master/docs/inputs/README.md#websocket)
say the same thing with output : [output websocket](https://github.com/Jeffail/benthos/blob/master/docs/outputs/README.md#websocket)

While at it, does the ws input/output has configurable delimiter like stdin/stdout ?

[2019-02-07 15:35] Jeffail commented on #159
Hey @nuhamind2, well spotted, thanks.

Fixed: https://github.com/Jeffail/benthos/commit/3e97c74f426b0989b29d9f2aa615be5623ac9044

The input is very basic and bundles discrete messages as they are flushed, but if you need to break down the contents by delimiters you might be able to do that with processors, depending on your goals.

[2019-02-07 15:35] #159 closed

[2019-02-12 20:48] danrubenstein commented on #146
Hi @Jeffail!

I've started to take this on - you can see an initial cut of the whitelist version of this [here](https://github.com/danrubenstein/benthos/commit/50d5d6b2ef9424e9fc1f8ab92e9cbc7c47d83632). It's not ready to go yet, there's still yet more to do with blacklist and the configuration management.

One scope question that I have for this is whether or not you'd be willing to accept regular

[2019-02-12 21:19] Jeffail commented on #146
Hey @danrubenstein, awesome! I think regular expressions are a good idea, in which case I would probably have another config field `patterns` that contains them rather than having a `mode` field, it would potentially allow someone to have both prefix based and regexp based white/blacklists if they wanted to.

Your branch looks good, but I would suggest using `*Config` instead of `[]Config` here: h

[2019-02-12 21:26] danrubenstein commented on #146
Glad you brought that up -- I was struggling with the single child bit, so I decided to just punt and go with a list (basically modeleted after the `broker` output) until I could make enough progress to get to a proof of concept.

I'll look at the example you posted and see if I can get through implementing a single child component, and then I'll push towards `patterns` for regex.

Thanks for the

[2019-02-12 23:00] danrubenstein commented on #146
I put together a very draft-y PR (#160) - I think we can continue the conversation there?

[2019-02-13 13:18] thinktainer opened #161 "Nats Stream Unsubscribe deletes offset"
When the last member of a queue group in the nats_stream input goes away, the [unsubscribe call](https://github.com/Jeffail/benthos/blob/master/lib/input/reader/nats_stream.go#L112) will destroy the offset for that subscription. See: https://github.com/nats-io/go-nats-streaming#closing-the-group.
For me this was surprising behaviour. My expectation would be that when setting up a durable queue sub

[2019-02-13 13:31] Jeffail commented on #161
Hey @thinktainer, interesting. From what I can see it would be safe to add a boolean config field like `unsubscribe_on_close`, and if set to false would simply not unsubscribe on connection close.

In order to avoid changing the existing behaviour it would need to be `true` as default to begin with, but if it's unintuitive for it to behave this way (which I agree, it is) then we can have it set to

[2019-02-13 13:48] thinktainer commented on #161
I'm finding myself in a weird place where i want to move off of nats, but still have to keep things ticking over until that time. I think your proposal is spot on. Do you want me to implement, or are you happy enough doing it yourself? (seeing that your turnaround is about the speed of light..., thank you!)

[2019-02-13 13:50] Jeffail commented on #161
I'm happy to do it later today

[2019-02-13 19:40] Jeffail commented on #161
Implemented: https://github.com/Jeffail/benthos/commit/ee0e47cbedb45d09f032eade21e98f98ea258fcc

[2019-02-14 00:11] thinktainer commented on #161
amazing, ty

[2019-02-14 15:29] #161 closed

[2019-02-14 15:46] Jeffail commented on #59
Currently working on this, I'm hoping to have a first draft ready for tomorrow, working on this branch: https://github.com/Jeffail/benthos/tree/feature/distributed-tracing

Progress so far:
- Using the opentracing API
- Message parts are able to have a context attached
- That context can be used as a reference to a span
- Spans are created at the input level, and children of those root spans can b

[2019-02-14 17:23] homer6 commented on #47
Hi @Jeffail @mintbridge, I was following along with the thread and wondered how you had made out. Is this processor on a separate branch or are there plans to merge it into master?

[2019-02-14 17:29] Jeffail commented on #47
Hey @homer6, I have a branch that is able to be merged here: https://github.com/Jeffail/benthos/tree/mintbridge-decrypt-processor, there's a PR from @mintbridge here: https://github.com/Jeffail/benthos/pull/62 but I closed it due to inactivity.

If you're interested in this would you be able to discuss your use cases? I'm hesitant to add something like this into Benthos unless I know there are act

[2019-02-14 18:12] homer6 commented on #47
That makes sense. I don't have a use case for it at the moment. I was looking at it as an example of how to add components that are as merge-friendly as possible.

I'll open an issue with the design and use case of the component that I had in mind.

[2019-02-14 18:40] homer6 opened #162 "Design for Proposed Plugin Component: Logging Agent"
We have a use case for using Benthos as a logging agent (log shipper). However, I wanted to discuss the proposed design before creating the component, as we would love to have the plugin adopted into the set of core components. If this use case is a not a match for integration into the core component set, then we may consider other solutions instead of integrating with Benthos.

### Use Case

1. W

[2019-02-14 18:44] danrubenstein opened #163 "Allow for switch operator to be non-blocking"
Hi!

According to the [docs](https://github.com/Jeffail/benthos/tree/master/docs/outputs#switch), for an output that is the child of the `switch` output:

I can see how this would make sense if you don't want to pass through a bunch of messages only to have them error out, and thus keep the inputs from being read off of. However, in the case where a single misconfigured record enters the stream, i

[2019-02-15 10:08] Jeffail commented on #162
Hey @homer6, I think there's possibly room for an input type like this. For use case 5. what would be the purpose of creating a new replay file versus simply retrying the message until completion? Creating dead letter queues where the failed messages are redirected to a "retry" file is already possible but I'm not sure how you would set up automatic reconsumption of those files without either crea

[2019-02-15 10:17] Jeffail commented on #163
Hey @danrubenstein, seems sensible. I think it would be sufficient to add a boolean config value per output of the `switch`, not sure what I would call it, maybe something like `abandon_on_error`. The idea being you could then choose whether a specific output has its own dead letter queue by having a nested try broker, uses a general dead letter queue outside the `switch`, or none at all.

[2019-02-15 11:15] Jeffail commented on #146
Implemented: https://github.com/Jeffail/benthos/commit/a1004070b3569d988a07be906e55fafa34191c5a

Thanks @danrubenstein!

[2019-02-15 11:15] #146 closed

[2019-02-15 17:33] homer6 commented on #162
Hi @Jeffail, that's great news. Thanks for being open to the potential new input.

A few retries is okay. But if there's a broker outage, unacknowledged log entries can quickly pile up. In our case, we generate about 25GB of uncompressed text per day per host. A broker outage of a few hours can easily consume a few GBs of memory.

Alternatively, if there's a max in-flight message count, that buffe

[2019-02-19 13:11] ekarlso opened #164 "Support for custom Processors, Inputs and Outputs?"
Can this be done without having to pass my inputs into the benthos project itself?

[2019-02-19 13:15] Jeffail commented on #164
Hey @ekarlso, yes but the documentation for plugins isn't in a good place quite yet. There's an example repo of an input plugin here: https://github.com/Jeffail/benthos-plugin-example, and processors and outputs are basically the same API.

You can either compile your own version of Benthos with your plugins compiled in, or alternatively you can compile your plugins as a Go plugin and link Benthos

[2019-02-19 13:47] Jeffail commented on #59
Branch is looking good so far. I've got a new `tracer` component similar to `metrics`, currently only supports `jaeger` and `none`. I need to add traces to more processors but this is looking like it'll be ready to merge into master soon. The best part is that none of the changes are going to break the config spec or internal API so this won't require a major release bump.

[2019-02-19 18:28] ekarlso commented on #164
But can I load it in when configuring benthos via pure go code instead of yaml ?

[2019-02-19 19:44] Jeffail commented on #164
Sure, in that case you would do something like:

[code]

When using the stream API: https://godoc.org/github.com/Jeffail/benthos/lib/stream

[2019-02-20 12:34] ekarlso commented on #164
@Jeffail I tried this
I build the plugin, I copy the influx_output.so to /usr/lib/benthos/plugins

I have configured
	influxOutConf := output.NewConfig()
	influxOutConf.Type = "influx"

And then I just "go run" my program and it crashes with
panic: output type was not recognised

goroutine 1 [running]:
main.main()
	/home/ekarlso/projects/backend/cmd/streamer/main.go:57 +0x591
exit status 2

[2019-02-20 13:06] Jeffail commented on #164
Hey @ekarlso, if you're using Benthos as a framework and you're defining your own `main` function then you don't need to use Go plugins, just include the code for your custom components and they will be compiled in. You only compile components to a `.so` file if you want to include them in a prebuilt version of Benthos.

In your main function have an include like this:

[code]

[2019-02-20 13:07] ekarlso commented on #164
@Jeffail but how do you configure the plugin then ?

[2019-02-20 13:11] Jeffail commented on #164
It depends on how you've written your plugin, but usually it would be something like this:

[code]

[2019-02-20 13:12] ekarlso commented on #164
I've written it like the one you have in your example :)

[2019-02-20 13:15] Jeffail commented on #164
Okay yeah in that case it's `influxOutConf.Plugin = plugConf`, the config field `Plugin` is an `interface{}` type that stands in for any type of config struct your component requires.

[2019-02-20 17:59] Jeffail commented on #59
Planning to release the first phase of this in v1.6.0 later today, which is:

- New `tracer` component in the root of the config spec, allowing you to choose a tracer target. This feature is considered stable in that I do not intend to change it without a major version release.

- Internal API for working with spans on messages, this is mostly hidden from the current stream APIs but exposed throug

[2019-02-20 18:37] ledor473 commented on #59
@Jeffail I've quickly looked at the changes in the branch and what stands out the most for me is the configuration. Jaeger has quite a few settings that are useful and while you got the required one, I think it would be nice to access all of them.

A way to do it would be to use `configuration.FromEnv()` like here: https://github.com/jaegertracing/jaeger-client-go/blob/master/config/example_test.g

[2019-02-20 18:55] Jeffail commented on #59
Hey @ledor473, thanks for the quick feedback. I'll add those fields to the config spec. I'm not too worried about having _all_ fields exposed for now since it's easy to add more as/when they get requested.

I wouldn't normally use environment variables directly since they can be specified within a config: https://github.com/Jeffail/benthos/blob/master/docs/config_interpolation.md#environment-varia

[2019-02-20 19:44] Jeffail commented on #59
Added those extra fields. I've left it so that doing direct environment based configuration is possible in the future if it becomes a hot request.

Leaving it as a PR for now. I'm going to walk away and clear my head for a couple of hours before reading through it again.

I think the only snag I've encountered so far is that when using the `batch` processor the root span can become finished before

[2019-02-20 22:52] Jeffail commented on #59
Implemented: https://github.com/Jeffail/benthos/commit/ce0609c63c66ce6dee6f5dc2abb5a9a3d45942aa
Released: https://github.com/Jeffail/benthos/releases/tag/v1.6.0

[2019-02-20 22:52] #59 closed

[2019-02-21 19:19] bertpersyn commented on #151
Hi!

I've got it up and running in k8s and the gateway receives the pushed metrics.

Question: is it possible to configure the job name ("benthos_push")?

```	return push.New(p.config.PushURL, "benthos_push").Gatherer(prometheus.DefaultGatherer).Push() ```

when closing and when interval hits?

Thanks in advance!

[2019-02-21 19:30] Jeffail commented on #151
Hey @bertpersyn, would you want a different job name for interval pushes versus closing?

[2019-02-21 20:01] Jeffail commented on #164
Closing this for now, feel free to reopen if you have more questions.

[2019-02-21 20:01] #164 closed

[2019-02-22 07:26] bertpersyn commented on #151
Hi @Jeffail.

I don't think there needs to be a difference between the two. The reason why I ask is when running multiple batch jobs at the same time (multiple k8s cronjobs/benthos pods), the name of the job should differ.

[2019-02-22 10:22] Jeffail commented on #151
Cool, implemented: https://github.com/Jeffail/benthos/commit/1e1bbd3d43df20be0081ee7d83d00ff6e6d36c1e

[2019-02-22 10:22] #151 closed

[2019-02-26 03:06] pjebs opened #167 "grpc suppor or twirp"
Will this support grpc in the future?

Or https://github.com/twitchtv/twirp

[2019-02-26 10:21] Jeffail commented on #167
Hey @pjebs, what kind of components would you want for working with grpc? I'm not sure what a generic grpc connector would look like or be useful for.

[2019-02-27 21:22] Jeffail commented on #144
Hey @patrobinson, I've put together a document describing workflows in Benthos in more detail: https://github.com/Jeffail/benthos/blob/master/docs/workflows.md, if you find this works for you that's great, but otherwise it would be interesting to hear more about your use case.

[2019-02-28 23:07] homer6 opened #168 "kinesis output writer test failing"
Test fails:

[code]

Steps to reproduce:
[code]

go version go1.12 linux/amd64

[2019-03-01 14:42] Jeffail commented on #168
Thanks @homer6, should be fixed in: https://github.com/Jeffail/benthos/commit/fe418bbaed6a31ab7684c93424e416c13c2d606c

[2019-03-01 14:42] #168 closed

[2019-03-05 02:30] iluminae opened #169 "Add function interpolation to redis_pubsub output"
Adding function interpolation to the `channel` field of the `redis_pubsub` output would allow using processors to alter the data destination via setting (for example) metadata on each message.

This appears to be a feature that I will be needing, and have implemented. I don't see a downside, so I will be contributing the code up to go with this issue.

I do not currently _need_ the `redis_list` or

[2019-03-05 16:39] #169 closed

[2019-03-08 15:56] Jeffail commented on #167
Hey @pjebs, closing this ticket for now as it's not very informative but please reopen if you can flesh out the request.

[2019-03-08 15:59] Jeffail commented on #155
I ended up suggesting this approach in the comments https://github.com/Jeffail/benthos/blob/master/lib/types/interface.go#L129 but didn't go as far as writing an implementation as I think it's simple enough as an exercise to the user.

[2019-03-08 15:59] #155 closed

[2019-03-08 15:59] Jeffail commented on #144
Hey @patrobinson, closing this for now but feel free to reopen if you have questions or feedback.

[2019-03-08 15:59] #144 closed

[2019-03-08 17:18] iluminae opened #171 "gcp_pubsub input runs administrative API call"
The call of `sub.Exists(existsCtx)` in the `Connect()` function of the `gcp_pubsub` input requires use of the administrative call quota. In our use case, we were met with this quota being filled (by a bug in dataflow, we believe) and our benthos based pipelines would not run. However, with a quick removal of that call, they were able to successfully start, as no calls were made that used the quota

[2019-03-08 17:24] Jeffail commented on #171
Hey @iluminae, since the call consumes quota I'd support simply removing it. From what I understand the call to `Exists` is just a nicety and if the subscription doesn't exist Benthos should report and recover as you would expect.

Since you are testing this already would you be willing to test what happens when the subscription doesn't exist when Benthos starts up with the Exists check removed? I

[2019-03-08 17:56] iluminae commented on #171
@Jeffail yep, I would support that. Im sure that will work, but I will test it to make sure. I will submit the change soon after.

[2019-03-08 21:26] iluminae commented on #171
@Jeffail it would appear that a failure from the `Connect()` code properly engages the throttling that is desired (normal throttling is set to 1/s i believe) but when a failure occurs in the read loop, the `Connect()` is called again, but without a throttle. I believe this is a bug, correct? im talking about this loop here in `lib/inputs/reader.go`

[code]
`Connect()` will succeed, `Read()` will r

[2019-03-08 21:58] iluminae commented on #171
@Jeffail i opened the PR for reference, we can iterate on it if we need to.

[2019-03-08 22:17] Jeffail commented on #171
Looks great, thanks @iluminae!

[2019-03-08 22:17] #171 closed

[2019-03-08 22:17] Jeffail commented on #171
Released: https://github.com/Jeffail/benthos/releases/tag/v1.7.9

[2019-03-11 09:26] fbretel-cn opened #173 "graceful shutdown question"
Hi. I'm loving benthos! Been playing with instances piping from rabbitmq to kafka. Noticed that slightly more messages were received when doing a rolling update. This got me thinking about the origin of the discrepancy. My hypothesis so far is that benthos' graceful shutdown being propagated
  from the input layer to the output layer, we could have the case where dying instances would  have commit

[2019-03-11 09:54] Jeffail opened #174 "Input termination - Wait for acknowledgements to propagate"
During shutdown it's possible for input components to close before a message that's in transit has been acknowledged. This behaviour occurs here: https://github.com/Jeffail/benthos/blob/master/lib/input/reader.go#L213

If we completely remove the case for exiting on our close channel then we risk blocking this component indefinitely, which is a problem since it could prevent resource cleanup whils

[2019-03-11 09:54] Jeffail commented on #173
Hey @fbretel-cn, yes I think you're correct. During shutdown it's possible that while a message is in transit whilst the input layer is closed down that the component is terminated before the acknowledgement can propagate back to the input source.

The reason we shut down from the input layer to the output layer is because of input sources that don't support acknowledgements. If we were to close t

[2019-03-11 10:26] fbretel-cn commented on #173
Waow! Thank you for the fast and detailed answer and follow-up ticket :+1:

[2019-03-11 10:26] #173 closed

[2019-03-11 10:44] Jeffail commented on #174
Fixed: https://github.com/Jeffail/benthos/commit/9d72c1c3150de9887279d59a519edbd252e134ac
Released: https://github.com/Jeffail/benthos/releases/tag/v1.7.10

[2019-03-11 10:49] Jeffail commented on #173
No problem, thanks for raising this issue! It should now be fixed in [v1.7.10](https://github.com/Jeffail/benthos/releases/tag/v1.7.10). I've added a grace period of one second for in-transit messages to be resolved which should be enough for rolling restarts of healthy pipelines.

[2019-03-12 03:21] patrobinson commented on #144
Yeah sorry, it's not a priority right now. Will get back to you at a later date

[2019-03-12 08:54] fbretel-cn commented on #174
Did a quick test this morning with v1.7.10. Still had a few messages in excess. I'll try to re-compile with a greater flush timeout (5 seconds?) and debug further when I get a chance.

[2019-03-12 10:34] Jeffail commented on #174
@fbretel-cn, are you able to share more information about your configuration?

[2019-03-12 14:22] fbretel-cn commented on #174
Yes. So we run basic rabbitmq (3 nodes) and the kafka (1 node) instances in kubernetes. I start 4 benthos replicas with the [attached config](https://github.com/Jeffail/benthos/files/2957208/benthos.txt).

Messages are produced with:
[code]
In the middle of the run, I re-deploy all benthos instances in a RollingUpdate manner. As a result I got:
[code]

[2019-03-12 16:14] Jeffail commented on #174
Thanks @fbretel-cn, I tried reproducing this with a simplified version of your config but failed. I'm not sure when I'll get time to dig deeper but I suspect this is unrelated to the termination logic within `reader.go` so I'm going to close this ticket.

Obviously this is still an issue for you and I'd like to find out more about what's happening so please update this ticket with any clues you fi

[2019-03-12 16:14] #174 closed

[2019-03-14 03:00] iluminae opened #175 "add function interpolation to the nats output"
This is the same thing that #169 implemented for the `redis_pubsub` output, and will allow setting the subject of the message based on eg: metadata on the message. I will make a PR with this in the same implementation as #169 if thats ok.

[2019-03-14 10:26] #175 closed

[2019-03-14 11:16] Jeffail commented on #175
Released: https://github.com/Jeffail/benthos/releases/tag/v1.8.0

[2019-03-15 10:01] asiragusa opened #177 "Configuration from environment variable"
Hi Jeff, I would be able to read the whole configuration file via an environment variable, it can be useful for local testing with docker-compose.

Is it be possible to add an option to use benthos like this:

[code]

Thanks!

[2019-03-15 10:22] Jeffail commented on #177
Hey @asiragusa, you can kind of achieve this by having a config file (maybe called `env.yaml`) with the contents `${YAML_CONFIG}`. Place that config file in your docker-compose directory and then add it as a volume:

[code]

Would that work for you?

[2019-03-15 10:26] asiragusa commented on #177
That is another option, but having an environment variable can be easier to read if you have multiple configurations, as everything is in one place

[2019-03-15 12:41] Jeffail commented on #177
@asiragusa, not sure I follow correctly, are you able to give an example of what you mean?

[2019-03-18 15:54] jhgx opened #178 "abort on failure"
Is there a recommended method of aborting a benthos stream when a processor fails?  The intent would be to block inputs from progressing when non-recoverable processing errors occur.

The [error handling](https://github.com/Jeffail/benthos/blob/master/docs/error_handling.md) docs address ignoring, handling, or rerouting processor errors, but all of these options will allow inputs to continue with

[2019-03-18 16:06] Jeffail commented on #178
Hey @jhgx, you could make a hacky version of this by routing failed messages to an output that can never succeed. For example:

[code]

[2019-03-18 16:12] Jeffail commented on #178
I think a 'proper' solution for this kind of behaviour would be to introduce some sort of `do_while` processor, where whilst a condition is true a list of child processors will continue to be executed. That would enable you to configure something like this:

[code]

With something like this the pipeline will block and reattempt your processor for as long as it fails. Would that solve your use case

[2019-03-18 18:12] jhgx commented on #178
In my case, if the processor fails once then it will always fail, so there's no need to reattempt processing.

Would something like this work?

[code]

If `foo` or `bar` run into any processing errors, a new `abort` processor is triggered which (somehow) kills the processor.  All is takes is one bad message/part to take the whole thing down.  The message is not ack'd and the input never progresses

[2019-03-18 21:16] Jeffail commented on #178
Hey @jhgx, I've just added a new `while` processor in v1.10.0 that allows you to do this:

[code]

[2019-03-19 14:47] jhgx commented on #178
Nice!  That looks like a good way to do a general purpose retry.  To (practically) avoid retries I could set the sleep to a huge duration.

Maybe the idea of a total abort doesn't make sense if benthos prefers to keep itself running in the face of failure.  However, I see that it is possible for inputs to give up and die.  For example:

https://github.com/Jeffail/benthos/blob/c91d44bcdf4179c1b9142

[2019-03-20 10:07] Jeffail commented on #178
Hey @jhgx, the input termination you're pointing to is intended to be for sources that have a discrete end (when stdin gets closed, or when we reach the end of a file), so that Benthos can gracefully shut down once all inputs are exhausted and there is no possibility of further messages.

In the event of errors being encountered I'd be reluctant to invest time into mechanics for shutting down the

[2019-03-20 10:07] #178 closed

[2019-03-28 13:48] asiragusa commented on #177
Hey @Jeffail, I finally used a plain yaml file for the configuration, inlining the configuration in the docker-compose file or in a plain file doesn't make much difference in the end.

That said, I found another example where an environment variable might be useful: I am developing an input plugin that runs on AWS Lambda and listens for DynamoDB Stream events, it allows to easily copy the events i

[2019-03-28 14:48] Jeffail commented on #177
Hey @asiragusa, for authenticating with AWS services Benthos honours the standard environment vars (AWS_ACCESS_KEY_ID/AWS_ACCESS_KEY and AWS_SECRET_ACCESS_KEY/AWS_SECRET_KEY).

But you can also use [config interpolation](https://github.com/Jeffail/benthos/blob/master/docs/config_interpolation.md#environment-variables) to specify your own environment variable substitutes, this also works in any sec

[2019-03-28 15:34] asiragusa commented on #177
Yep, I do use config interpolation for secrets, but it's way more practical to deliver the `benthos.yaml` file via an environment variable than embedding it into the zip file you upload, as you cannot reuse the binary you have built for multiple pipelines. Let's say that you must stream the events of a table to SQS and another table to Kafka, you have to build your package twice.

[2019-03-29 05:09] freedombird9 opened #179 "Question: Concurrent Processing Support"
I wonder how does it support concurrency?

I'm browsing the source code and find that it just creates a list of workers whose number is equal to the number of threads in the config and then loop through them one by one to do the processing.  It  actually just starts one more goroutine, not multiple goroutines.

Basically I have a use case that a consumer needs to consume messages from upstream Rab

[2019-03-29 09:44] Jeffail commented on #179
Hey @freedombird9,

The parallel processing is handled for you, here's where each processor worker gets constructed: https://github.com/Jeffail/benthos/blob/master/lib/pipeline/pool.go#L52, that constructor kicks off and manages its own goroutine for processing. This loop here: https://github.com/Jeffail/benthos/blob/master/lib/pipeline/pool.go#L120 is where incoming transactions are allocated to

[2019-03-29 09:44] #179 closed

[2019-04-01 14:22] Jeffail opened #180 "S3 input: Add ability to select bucket from SQS event"
It would be cool to add the ability to select the target bucket for an S3 document based on a field within an SQS message that triggers the download. Worth investigating but I only intend to implement/merge this if the implementation is clean and easy to document.

[2019-04-02 11:56] orsigiorgio opened #181 "Support for S3 Sync in S3 output processor"
I'd like to have an option to specify whether I want the S3 output processor to overwrite an existing object or not. Basically I'd like to have a way to simulate an S3 sync.

maybe something like this.

[code]

[2019-04-09 15:09] Jeffail commented on #47
Hey @mintbridge, closing this for now, feel free to reopen if you want to get this merged in. As far as I'm concerned the feature is ready to add in but I'm holding off until we have active stakeholders.

[2019-04-09 15:09] #47 closed

[2019-04-09 15:27] asiragusa commented on #177
The problem with this is that we have to ship a base config file together with the benthos binary and in some cases it can be a problem.

In a lambda for example you have to give a zip file containing the binary and/or additional files via S3 or direct upload.
I can achieve this in two ways:
- In the CI pipeline i embed the config file in the .zip
- I re-bundle the zip file using terraform or what

[2019-04-09 16:02] JoshKCarroll commented on #150
Thanks. After we upgraded our Kafka cluster to version 2+ we got much better throughput with Benthos. Maintaining the C dependencies (which I have also found to be finicky to install across various platforms for the kafka-specific dependencies) is a pain so I fully agree Sarama is the right choice for a public lib and the marginal benefit of also adding librdkafka support is probably not worth the

[2019-04-10 12:55] asiragusa opened #182 "Failed to delete consumed SQS messages"
I get the following error on the SQS input:

[code]

when one of the processors or outputs returns an error response (`response.NewError`). Moreover the Acknowledge function does not take into account such errors and voids the at-least-once guarantee. Instead of deleting the message, the visibility timeout should be set to 0, as the doc states: https://docs.aws.amazon.com/AWSSimpleQueueService/lat

[2019-04-10 13:59] Jeffail commented on #182
Hey @asiragusa, thanks for raising this.

Looks like I wrapped the input with a preserver https://github.com/Jeffail/benthos/blob/master/lib/input/sqs.go#L51, which should preserve ALO but isn't idiomatic use of SQS. When an error occurs the input retries the same SQS message until success, but if that loop lasts longer than the visibility timeout we'll end up with the same message consumed multip

[2019-04-10 14:50] Jeffail commented on #182
Fixed: https://github.com/Jeffail/benthos/commit/2512b42bdbd7c8d91842e4f259093be66b3e608e
Released: https://github.com/Jeffail/benthos/releases/tag/v1.10.10

@asiragusa, I've reproduced the issue and tested the fix with a relatively low volume queue, but we don't use this consumer in production so I don't have a heavy load to throw at it. If you still get problems please reopen this ticket and I'l

[2019-04-10 14:50] #182 closed

[2019-04-10 14:57] asiragusa commented on #182
Cool, thanks!

[2019-04-12 18:16] Jeffail opened #183 "Attempt S3 with localstack"
Would be cool to have Benthos able to connect and work with localstack. Needs to be looked into as to whether this is at all possible currently and if there's any configuration caveats that should be documented.

[2019-04-15 09:52] Jeffail commented on #183
The only Benthos connector that doesn't work out of the box right now is S3, this is due to the URL for buckets being subdomain based rather than path based. As a solution we can force the AWS API to use path based with the config field [`S3ForcePathStyle`](https://docs.aws.amazon.com/sdk-for-go/api/aws/#Config). From what I understand of this field it should be safe to set this to `true` without

[2019-04-15 09:52] #183 closed

[2019-04-17 15:31] Jeffail opened #185 "Lambda distribution of Benthos"
If we were to deploy a Benthos instance as an AWS lambda function, where invocations result in a message batch being propagated down a configured Benthos pipeline, what would be the ideal way to package such a Benthos instance?

## Lambda Input Type

PR https://github.com/Jeffail/benthos/pull/184 is a good example of having invocations represented as a configured input, which allows a a standard B

[2019-04-17 15:35] Jeffail commented on #181
I've looked into what's available to me from the Go API side and it appears as though the only way to perform this would be to add another API call to check for the existence of a file before uploading it, which obviously leaves us vulnerable to race conditions.

However, I believe it's possible for the bucket owner to configure it such that files cannot be overwritten, in which case Benthos would

[2019-04-17 18:55] danrubenstein opened #186 "Quoted Text Decoder"
Much how the [Benthos Decode Processor](https://docs.benthos.dev/processors/#decode) has a base64 decoding type, a "quoted" decoder would be helpful for those who are processing quoted data. I played around a bit with JMESPath, but I'm not sure that you can replicate this functionality with that tooling (although if I can I would just as soon close this issue).

The encoder would be powered by [st

[2019-04-17 20:26] Jeffail commented on #186
Hey @danrubenstein, looks good and seems a worthy addition. I would want to add this to the `text` processor instead though, the implementation in your PR looks good, would you be happy to move it?

[2019-04-17 20:28] Jeffail commented on #186
I would probably call the operators `quote` and `unquote` so that they're similar to the existing `escape_url_query` and `unescape_url_query` operators.

[2019-04-17 20:41] danrubenstein commented on #186
Ah, that's a much more suitable place for it. I'll update accordingly, thanks!

[2019-04-17 22:10] Jeffail commented on #186
Thanks @danrubenstein!

[2019-04-17 22:10] #186 closed

[2019-04-18 13:36] kconwayatlassian commented on #185
In addition to not having an input section, would lambda receivers also need to drop the buffer section? I believe only processors and outputs would be valid since the expectation is that the lambda will process  only a single input. Maintaining any amount of state between inputs is considered invalid for general lambda usage.

Do you have any particular thoughts on how you'd want to change the co

[2019-04-18 13:52] kconwayatlassian opened #189 "Env Vars For Streams API"
When using Benthos in the standard mode it will load a configuration file and inject environment variables into placeholders matching the `${}` pattern. However, this only happens as a part of `main.go` and only if the configurations are provided at startup time ( <https://github.com/Jeffail/benthos/blob/master/cmd/benthos/main.go#L228> ).

When running the service in "streams" mode, the configura

[2019-04-18 18:38] Jeffail commented on #189
Hey @kconwayatlassian, I left this out originally as I wanted time to see how streams mode would be adopted (if at all), but I have no problem with adding it in. I'm happy to take a pull request.

Also, if you're able to share details about how you're making use of it I'd be very interested to hear.

[2019-04-18 18:55] Jeffail commented on #185
This seems best suited as a separate binary distribution as we can then enforce no input or buffer layers and maybe lock down other components that aren't appropriate.

Configuration would primarily be done via an environment variable, it also seems sensible to also fall back on the `env` config if this particular env var isn't set.

In terms of the response of the lambda handler we can offer one

[2019-04-18 19:24] kconwayatlassian commented on #189
Happy to share the use case.

Some of the systems my team is using with Benthos have deployments managed on EC2 instances using some internal, company tooling. A deployment of a new version of a stream processing service roughly equates to generating a new auto-scale group of EC2 with the new code. There is a system that tracks which auto-scale groups are "active" or "inactive" for a given logical

[2019-04-18 21:02] #189 closed

[2019-04-18 21:03] Jeffail commented on #189
Very interesting, thanks for sharing!

[2019-04-18 21:07] kconwayatlassian commented on #185
What you're describing makes sense to me.

For the return values, I don't believe the options are mutually exclusive. The go support for lambda allows a variety of lambda definitions and one of them is `func(context.Context, interface{}) (interface{}, error)`. We could support both by using the error return as the ack/nack and the value as the result that was published. If needed, I believe we cou

[2019-04-18 21:15] Jeffail commented on #185
@kconwayatlassian I've scrapped the Benthos pipeline boilerplate here: https://github.com/benthosdev/benthos-lambda/blob/master/main.go

[2019-04-19 10:56] asiragusa commented on #185
This distribution might also offer custom settings for logging and tracing, given that AWS enforces CloudWatch and X-Ray for Lambdas

[2019-04-20 11:36] Jeffail commented on #185
I think cloudwatch logging should be automatic since we log to stdout, not sure about X-Ray but if the API fits in with the existing tracer interfaces then it should be easy to add, but we can tackle that separately.

The benthos-lambda repo is looking pretty good as a starting point, I'd like to try it out for short while and if we're happy then I'll merge it into the main project as a separate b

[2019-04-20 12:17] asiragusa commented on #185
Oops I meant metrics, logs already work fine as you say :)

[2019-04-21 14:19] Jeffail commented on #185
Ah okay, I'll create tickets for both. I'm planning to eventually add the serverless deployments to the main repo so that they all get built together, implementation is on a branch https://github.com/Jeffail/benthos/tree/feature/add-serverless-deployments but this is blocked on `goreleaser` improving support for multiple archives. Let's continue experimenting with https://github.com/benthosdev/ben

[2019-04-21 14:24] Jeffail commented on #181
Benthos v1.12.0 has an `s3` cache target that supports the `add` command by using up two API calls, this isn't able to guarantee absolutely no overwrites since the calls aren't atomic but it's enough to speed up uploads when there's overlap.

I haven't added a flag to the `s3` output yet as it's not really a true sync, but you can simulate it by ending your processing pipeline with a cache process

[2019-04-21 14:24] #181 closed

[2019-04-21 14:25] Jeffail opened #191 "Support AWS Cloudwatch for metrics"
It would be good to support AWS Cloudwatch for a metrics target, this would help when deploying Benthos as a lambda function. I'm looking for help on this one since it's possibly a large chunk of work and I'm not particularly familiar with cloudwatch.

[2019-04-21 14:28] Jeffail opened #192 "Support AWS X-Ray for tracing"
It would be good to support AWS X-Ray for a tracing target, this would help when deploying Benthos as a lambda function. I'm looking for help on this one since it's possibly a large chunk of work and I'm not particularly familiar with X-Ray.

To get this working we just need to wrap the X-Ray API with https://godoc.org/github.com/opentracing/opentracing-go#Tracer

[2019-04-21 14:31] Jeffail commented on #148
I've made some improvements to the https://github.com/benthosdev/benthos-plugin-example repo but still haven't found a reasonable workflow for using real Go plugins. I'm giving up on this for now, so my general advice and support is going to be around maintaining a custom `main` function that uses Benthos as a library. It's more work overall but trying to document how to work with Go plugins is a

[2019-04-21 14:31] #148 closed

[2019-04-21 14:32] Jeffail commented on #83
Closing this for now, we have https://github.com/benthosdev/benthos-plugin-example and my advice from here onwards is going to be to maintain your own `main` func and use Benthos as a library. Go plugins would have been great but it doesn't look like they're going to be what we need, at least in the foreseeable future.

[2019-04-21 14:32] #83 closed

[2019-04-21 14:47] asiragusa commented on #185
Did you think about publishing Benthos on the Serverless Application Repository: https://aws.amazon.com/serverless/serverlessrepo/ we can simplify the deployment with this. The flow is: the user begins the setup and later is asked to enter configuration file (env var) in a textarea. (Don't hesitate to test some of the existing integrations if you haven't ;)

We might also provide common configurat

[2019-04-22 10:10] Jeffail commented on #185
Cool ideas, I'll take a look at the app repository next. I've merged lambda support into this project since I'm able to automate separate build archives on the releases page now: https://github.com/Jeffail/benthos/releases so the https://github.com/benthosdev/benthos-lambda repo is now deprecated.

Thanks for the feedback @asiragusa and @kconwayatlassian. Obviously this is just a starting point bu

[2019-04-22 10:10] #185 closed

[2019-04-22 10:14] Jeffail opened #194 "Add Lambda distribution to AWS Application Repository"
It would be cool to add Benthos to the AWS Application Repository https://aws.amazon.com/serverless/serverlessrepo/ as it would make deployment much simpler.

[2019-04-22 20:31] huttotw opened #195 "Proposal: Notifications when an output is written"
We are using the S3 output, and it is working great. We are interested in receiving some sort of signal when a file is uploaded to S3, maybe to then trigger a load into Redshift.

I am not sure that this fits into outputs as they are defined today, perhaps there can be a new top level key introduced to `outputs`, for instance:

[code]

The delivered payload may look something like:
[code]

Of cour

[2019-04-22 21:46] Jeffail commented on #195
Hey @huttotw,

You caught me at a good time so I've got three juicy options for you to salivate over.

## Solution 1: Pure Benthos but with caveats

You can partially solve this (with caveats) using a [`broker`](https://docs.benthos.dev/outputs/#broker) output with the `fan_out` pattern:

[code]

Each message will get sent to both outputs, which are your bucket and notification webhook. The output

[2019-04-24 12:33] huttotw commented on #195
Sorry for the delay. Thank you for all of the options, very insightful. I really like the idea of Solution 3. To me that is similar to Solution 1, but more consistent.

We thought about Solution 2, but we aren't the biggest fans of developing things against remote infrastructure (it would be sort of hard to emulate locally).

I haven't necessarily looked through the codebase in detail, but if you

[2019-04-24 12:57] Jeffail commented on #195
Cool, I can probably do it this evening.

[2019-04-24 13:35] patrobinson commented on #127
Thanks @Jeffail I've got ungraceful termination support in my library now and will work on integrating it with Benthos next.

[2019-04-24 18:13] Jeffail commented on #195
Implemented: https://github.com/Jeffail/benthos/commit/2b1c60953bdca75192ef0dbd67e53aac8dc4c829
Released: https://github.com/Jeffail/benthos/releases/tag/v1.14.0

[2019-04-24 18:13] #195 closed

[2019-04-24 20:28] Jeffail commented on #194
Got a SAM template which seems to work for deploying a completely blank Benthos lambda.

https://github.com/Jeffail/benthos/blob/master/resources/serverless/lambda/benthos-lambda-sam.yaml

[2019-04-24 22:40] patrobinson commented on #127
Thinking about the integration, Benthos wants to pull records from an input, where as my library pushes records to a consumer. This copies the [AWS implementation](https://github.com/awslabs/amazon-kinesis-client).

To resolve this discrepancy we have two options:
- Implement some new interface to allow for pulling records from the stream, bearing in mind there would need to be some upper bounds o

[2019-04-25 19:54] Jeffail commented on #127
Hey @patrobinson, from your description it sounds like it might be simplest to go for something like the `nsq` input: https://github.com/Jeffail/benthos/blob/master/lib/input/reader/nsq.go, where we have an intermediary channel just to convert from one interface to another.

[2019-04-25 20:31] Jeffail commented on #194
Put something up, needs testing: https://serverlessrepo.aws.amazon.com/applications/arn:aws:serverlessrepo:us-east-1:362332586555:applications~Benthos

[2019-04-28 08:44] Jeffail commented on #163
Hey @danrubenstein, trying out a different approach. Got a branch here with a `drop_on_error` output type that wraps a child, if the child output fails to dispatch a message then it is simply dropped, as if it were successful.

[2019-04-29 07:45] Jeffail commented on #163
So the new `drop_on_error` output solves one problem, which is "I want to output to foo and bar, but if foo fails then I don't want to block forever":

[code]
Next is to solve for "I want to output to foo and bar, but if either fails then i want to fallback to baz", in order to do that you would need to configure a try broker for both foo and bar outputs with a duplicate config for baz. I'll add a

[2019-04-29 09:32] Jeffail commented on #163
^ this is implemented now https://github.com/Jeffail/benthos/commit/df413fce727b7c6974d2f4f0e44eb16ecce9035c

I've opted for a general `retry_until_success` field rather than per output fields since going down that route opens up the possibility of weird behaviour (if foo fails and isnt retried but bar also fails and is, what should we do?) But I think this is a good compromise. Closing this ticke

[2019-04-29 09:32] #163 closed

[2019-04-29 14:06] danrubenstein commented on #163
Hi @Jeffail - this looks great, I'll play around with it this week. Thanks for taking this on, and apologies that I have not been more responsive in taking this on myself.

[2019-04-29 16:49] Jeffail commented on #163
No worries, 'tis the nature of these passion projects.

[2019-04-29 20:38] kconwayatlassian commented on #192
I think this is going to surface a number of complications around generic tracing in this project.

Whether X-Ray, Jaeger, Zipkin, etc., we have to assume that any organization is running only one concrete implementation of a tracing protocol. Even though OpenTracing standardizes the concepts, there's really no interplay between tracing protocols because the concepts of Trace and Span identifiers/

[2019-04-30 15:17] Jeffail commented on #192
I'd like to try and figure out a general tool that lets people fit their own formats but I got stuck on this last time I tried it. I was playing with the idea of adding a processor for setting a messages span based on mutated sources such as metadata or even JSON fields, but I don't have a clean way of "removing" an existing span from a message and injecting a new one, so currently it's only at th

[2019-05-01 21:04] spier opened #197 "Adding link to jaegertracing.io"
I read the documentation about [Tracer Types](https://github.com/Jeffail/benthos/blob/master/docs/tracers/README.md
), and was wondering if it would be useful to link to https://www.jaegertracing.io, so that readers know exactly which tool you are talking about?

Further from our conversation I recalled that all docs are generated from the code.
So say I wanted to add the link mentioned above, wou

[2019-05-01 21:54] Jeffail commented on #197
Hey @spier, each implementation within the `tracer` package has its own snippet of documentation at the top, so for the Jaeger section you would want to edit this string: https://github.com/Jeffail/benthos/blob/master/lib/tracer/jaeger.go#L40

Once that's done if you have Go installed you can regenerate the documentation within the `./docs` directory with `make docs`.

[2019-05-02 14:59] Jeffail opened #198 "Support fragmenting configs with JSON references"
It's possible for Benthos configs to become huge and unmanageable. Although this can be solved with third party tooling it would be nice to eliminate that step by adding native support to Benthos either for [JSON references](https://json-spec.readthedocs.io/reference.html) or something similar.

There are libraries for doing this already that can be slotted in: https://github.com/lestrrat-go/jsref

[2019-05-02 17:18] #197 closed

[2019-05-02 19:33] Jeffail commented on #198
Working off a branch: https://github.com/Jeffail/benthos/tree/feature/json-refs

[2019-05-02 20:37] Jeffail commented on #198
Looks good so far, need to test:

- Interactions between YAML anchors and references
- Env var interpolation

Need to implement:

- Protection against reference loops

[2019-05-03 13:08] Jeffail commented on #198
After playing with my initial POC I decided that fragments are going to be necessary so I've implemented them. This also means that it's possible to reference fields within the same document, similar to YAML anchors. I'm not a huge fan of having two ways of achieving the same goal but I believe it'll make working with fragmented files much easier as it allows you to have a fully functioning snippe

[2019-05-03 21:10] Jeffail opened #202 "AWS Curve ball"
Drama! https://forums.aws.amazon.com/ann.jspa?annID=6776

AWS is going to enforce virtual host style syntax which ruins the assumption I made previously about defaulting to path style. This will need to be set as a config field.

[2019-05-03 23:23] razor-x opened #203 "Support dynamic content type and encoding for s3 output"
Looking for something like

[code]

[2019-05-03 23:53] razor-x opened #204 "Write entire JSON to DynamoDb"
Given

[code]

I want to write all fields, not just `foo`, as a proper nested structure to the DB without needing to enumerate them, for example

[code]

[2019-05-04 12:25] Jeffail commented on #202
Implemented: https://github.com/Jeffail/benthos/commit/de6799b0a430a9a46c0d4537f253b4e34da60f01

[2019-05-04 12:25] #202 closed

[2019-05-04 12:25] Jeffail commented on #203
Implemented: https://github.com/Jeffail/benthos/commit/dd82c0adc2bcf4486e3e87fae2c02baa4a76b31b

[2019-05-04 12:25] #203 closed

[2019-05-04 13:27] Jeffail commented on #204
Got this on a branch, needs testing: https://github.com/Jeffail/benthos/tree/feature/json-map-columns.

And will allow you to configure like this:

[code]

Which walks the root of the JSON document and writes fields to the root of the dynamo item. This also allows you to specify column names for mixing explicit column values:

[code]

[2019-05-05 10:57] Jeffail commented on #198
Merged: https://github.com/Jeffail/benthos/commit/5168dcfae7e1232a416c03f93ad61c658401edac

[2019-05-05 10:57] #198 closed

[2019-05-06 21:50] kconwayatlassian opened #207 "RFC: Benthos Lambda changes"
I've been tinkering with the Lambda binary and had a few things I wanted to run by folks and get thoughts on. I'm happy to split this into multiple issues for multiple threads if we need it. To demo things, I've put together https://github.com/kconwayatlassian/benthos-ext that implements each of the ideas below:

- Ability to both produce to one or more outputs in addition to returning the process

[2019-05-07 09:37] Jeffail commented on #207
Hey @kconwayatlassian, code looks great. I'd like to get all of these features merged in but I'd also like to take a slightly different approach to implementing the combination of outputs.

We could add a new output plugin (exclusive to the lambda distribution) called something like `lambda_response`, which will be the default output type (instead of `stdout`) for a lambda deployment. The implemen

[2019-05-07 10:20] Jeffail commented on #204
Implemented: https://github.com/Jeffail/benthos/commit/3b389a253165167dbd6f8a602cce5ae59e33daf7
Released: https://github.com/Jeffail/benthos/releases/tag/v1.19.0

[2019-05-07 10:20] #204 closed

[2019-05-07 13:53] kconwayatlassian commented on #207
I like the dedicated output idea, especially with the custom processor support. A couple of questions/comments for it.
- Would there be any expected behavior if someone added the output multiple times?
- (nitpick on the name) Could we call it something slightly more generic? I believe this same pattern will be used for other serverless implementations. GCP supports Go but under an HTTP entry point

[2019-05-07 15:08] Jeffail commented on #207
- The result is going to be an array of JSON objects since the it might be a batch, so if we receive multiple messages from parallel outputs then they will just get appended to the same array.
- Good point, maybe `serverless_response`?
- Dang, didn't realise this was a possibility. I'm going to think on this for a few days, I'd really like to find a solution that doesn't require poking around the

[2019-05-11 13:47] Jeffail opened #209 "Config type inference"
I'm working on a branch that implements type inference for all native Benthos components (everything except plugins). It's quickest to illiustrate with an example, the following valid config:

[code]

Can now also be written more concisely as:

[code]

Both config snippets will be considered valid. However, the longer form including explicit `type` fields will always be the true 'normalised' schem

[2019-05-11 13:49] Jeffail commented on #209
Branch: https://github.com/Jeffail/benthos/tree/feature/type-inference

[2019-05-11 15:17] Jeffail commented on #209
I've taken a stab at updating examples, would be interested to hear whether or not people think they are clear enough with inference?

https://github.com/Jeffail/benthos/blob/feature/type-inference/docs/cookbooks

[2019-05-11 15:20] Jeffail commented on #209
TODO optional extras:
- Upgrade to `yaml.v3`
- Update more snippets in docs to use inference

[2019-05-12 18:40] Jeffail commented on #209
CALL FOR TESTERS

I've moved development to a beta branch https://github.com/Jeffail/benthos/tree/beta, which kicks off docker builds with the tag [`beta`](https://cloud.docker.com/repository/docker/jeffail/benthos/tags).

So far it's looking good based on my own testing but it would be great to have others trying this build out. If you intend to do so please let me know.

[2019-05-13 19:08] kconwayatlassian commented on #209
Does the parsing switch into a "simple mode" when there is no explicit `type` definition? How can we detect the difference between a `type` not given and someone relying on the default `type` for a given section?

I'm mostly curious about something like https://github.com/Jeffail/benthos/blob/master/config/env/default.yaml. Does this configuration become invalid?

[2019-05-13 19:38] Jeffail commented on #209
@kconwayatlassian, the environment config will be fine as it has an explicit `type` field, in which case the parser will always go with whatever that field declares.

If an existing config contains an empty object (no `type` value and also no config fields) like this:

[code]

Then it remains as it was, Benthos interprets this as a `bounds_check` processor with default field values.

There is one

[2019-05-14 08:41] gedw99 commented on #82
Hey

I am trying to use Benthos to parse database logs ( WAL)...for Oracle, mySQL, PostreSQL

The link above is dead.  "Shes dead jim, shes dead"

[2019-05-14 08:51] joeblew99 opened #212 "AWK processor"
I found googles mtail when doing some research and it reminded me how similar it is to the Benthos AWK processor.

https://github.com/Jeffail/benthos/blob/master/docs/processors/awk_functions.md

https://github.com/google/mtail/blob/master/docs/Language.md

[2019-05-14 09:01] Jeffail commented on #82
Hey @gedw99, the plugin examples can now be found here: https://github.com/benthosdev/benthos-plugin-example, but there isn't one for WAL I'm afraid.

[2019-05-14 09:02] marceloboeira commented on #82
I guess the WAL part we'll probably figure it out with [wal-g](https://github.com/wal-g/wal-g) and similars, and then have a plugin to hook it to benthos. Thanks @Jeffail for the update.

[2019-05-14 09:09] gedw99 commented on #82
thanks all for the update.

Yeah playing with the following stuff to do this over at https://github.com/14-bits/cdc. The plan is to get it working with benthos, but lots of database parsing to do first.

https://github.com/xo/usql
- universal sql parser.

https://github.com/wal-g/wal-g
- postresql and mysql cdc wal parsing

https://github.com/moiot/gravity
- mysql and tidb cdc wal parsing
- uses k

[2019-05-14 09:21] Jeffail commented on #212
Interesting, they must have their own implementation of AWK in there somewhere.

[2019-05-14 09:21] #212 closed

[2019-05-14 14:37] Jeffail commented on #209
Just to keep you all in the loop, I decided this ought to be a major version bump and so I've also bundled in a few other breaking changes that were on the backlog. Got a summary here: https://github.com/Jeffail/benthos/blob/beta/docs/migration/v2.md

[2019-05-14 19:44] scotthew1 opened #214 "question on new batch restriction: only for input"
we recently tried to upgrade benthos and noticed that `--strict` now fails because we have batches setup within our pipelines rather than on the input. i'm generally happy to reconfigure our pipelines, but we have some custom processors we'd need to refactor a bit to work with batched messages.

the new documents simply state

which isn't very specific about the potential issues. are there any add

[2019-05-14 21:32] Jeffail commented on #214
Hey @scotthew1,

Sorry for the wall of text here, it would be great to try and edit/shorten this and put it within the documentation somewhere.

## Explanation

When an input receives a message batch and sends it down the pipeline it blocks acknowledgement of the batch until it receives a response, which could be from any component (processor, buffer, or output.) During this time it's possible for

[2019-05-14 22:28] Jeffail commented on #209
Released: https://github.com/Jeffail/benthos/releases/tag/v2.0.0

[2019-05-14 22:29] #209 closed

[2019-05-15 01:28] scotthew1 commented on #214
hey @Jeffail thanks for such a detailed explanation! we've definitely been guilty of sending an input to multiple batch processors. will give you solutions a try.

[2019-05-15 12:59] gedw99 commented on #209
@Jeffail thanks - will kick the tires !

[2019-05-15 16:24] thinktainer commented on #161
Thank you for remembering!

[2019-05-16 18:28] kconwayatlassian commented on #207
@Jeffail I know you've been busy with the beta branch and config changes. Have you had any time to think some more about this?

[2019-05-16 19:57] Jeffail commented on #207
@kconwayatlassian, I've iterated through a few different ideas, the closest I can get to something deliverable that contains minimal hackiness would be for each call to insert a "caller id" to input message payloads (via its context) that indicates at the output level where to store these synchronous responses. Once the ack is received by the caller it is able to check some global shared structure

[2019-05-16 20:52] kconwayatlassian commented on #207
Sounds good. I'll check back in around that time.

In the meantime, I'll make one more pitch for the config pre-processor solution combined with channel management rather than the global coordinator. Personally, I find the linear flow of using the pipeline and output channels as being easier to think about than using global state to coordinate message delivery.

I may be mistaken but my understand

[2019-05-16 22:04] Jeffail commented on #207
Thanks @kconwayatlassian, I think that's a cleaner solution but there's a fair amount of complexity needed to walk any possible tree of output brokers. For example, if someone were loopy enough to configure the following:

[code]

Then we'd either need to accept that the output behaviour will be different to what the author would expect, or we'd need to write an output walker that catches all poss

[2019-05-17 21:51] kconwayatlassian commented on #207
If it helps, I put together a demo of using the `Manager` as the coordinator between a custom output and a serverless function: https://github.com/kconwayatlassian/benthos-ext/pull/1 . At least, this is how I've been interpreting your idea.

The outline is:
- An extension to Manager that adds methods to store and fetch results
- A Message wrapper that adds a unique identifier for tracking
- Additi

[2019-05-20 08:32] Jeffail commented on #207
@kconwayatlassian, looks good, pretty much what I had in mind. The only adjustment I'd make is to use message contexts rather than wrapping the message type: https://godoc.org/github.com/Jeffail/benthos/lib/message#GetContext.

So something like:

[code]

[2019-05-20 17:07] Jeffail commented on #214
Hey @scotthew1, closing this for now, feel free to reopen if you have more questions.

[2019-05-20 17:07] #214 closed

[2019-05-21 00:15] kconwayatlassian commented on #207
@Jeffail One edge case that stands out in this approach is the possibility that an error within the publishing pipeline or a simple failure to fetch the result can result in a leak of unclaimed results in the manager registry. There's a different technique we might use here where we set the context value to a pointer type such that later code can set the pointer in the context. For example: https:

[2019-05-21 08:20] Jeffail commented on #207
@kconwayatlassian, I like that, seems much simpler. We also need to take into account the fact that multiple serverless outputs might be configured that will both try to set the output message, and if a batch is created and split then they might want to add multiple `types.Message`. Might be worth adding a thread safe structure to the context rather than just a pointer, something that allows outpu

[2019-05-21 13:56] kconwayatlassian commented on #207
@Jeffail This brings up another case I hadn't considered. I suppose if someone applied per-output processors as part of a broker setup this would happen. We can definitely make a concurrency safe mechanism to add a message.

The current serverless implementation returns a single message part if there is only one to return (`{}`). If there are multiple parts then it returns an array of all parts (`

[2019-05-21 14:33] Jeffail commented on #207
@kconwayatlassian oh that's a good question. I think since we're already dynamically setting the output format based on the number of messages in a batch we've already set a precedence for outputting multiple batches as arrays within arrays. So that would make our possible output formats look like this:

Single message of a single batch: `{}` (JSON object)
Multiple messages of a single batch: `[{}

[2019-05-21 15:30] kconwayatlassian commented on #207
@Jeffail One potential issue with this is that the array results are not guaranteed to be in a deterministic order if there are concurrent outputs via a fan-out. My team doesn't yet have a use case where our broker layouts are complex enough such that we'd encounter this issue but my primary reason for having the values returned for the single and multi-part cases is so that we can use the respons

[2019-05-21 15:45] Jeffail commented on #207
I like that idea but we can add that afterwards, as long as it's a configurable field on the serverless output type then there's a backwards compatible upgrade path. For now I would be happy simply recommending `fan_out_sequential` rather than `fan_out` when the ordering of output batches needs to be deterministic.

[2019-05-21 16:11] kconwayatlassian commented on #207
Sounds good. I'll let these ideas bake for a bit and ping you later this week to see how you feel about moving forward. I'm happy to have you roll this out if you have a specific idea of how you want it done. I'm also happy to make PRs and go through some rounds of feedback until things look good.

[2019-05-22 21:21] iluminae opened #216 "Should batch processor emit the batch on AsyncClose()?"
Calling `Stop()` on the stream will try to drain the pipeline - but if you use a `batch` processor type, it could be holding messages that cannot be flushed, as no message coming into the batch will trigger {time, messages, messagesize} limits.

If there was a way that the batch could emit its held message without having a input message trigger that send - the `CloseAsync()` call could force the `

[2019-05-22 21:38] Jeffail commented on #216
Hey @iluminae, I'm trying to gradually migrate towards batches configured at the input layer (https://docs.benthos.dev/inputs/#kafka_balanced `max_batch_count` for example) as it avoids this issue entirely. The problem with a `batch` processor is that if we emit messages asynchronously then we have no mechanism for propagating the acknowledgements back to the input layer.

We could probably do the

[2019-05-23 03:16] iluminae commented on #216
@Jeffail in general I like your direction with that - although the settings of {time, size, #messages} seems more flexible than just `max_batch_count` available in eg: kafka_balanced.

I wonder if there is a pattern we can develop that integrates a common interface for attaching this batching functionality to inputs? Like attaching a buffer to a input as a child in a way that the input can use the

[2019-05-24 15:23] Jeffail commented on #216
We possibly could but the implementation needs to sit within the input implementation itself otherwise we hit similar problems.

I think for now having `max_batch_count` on inputs as well as the option for the `batch` processor covers most use cases. If you need the throughput of batches but also need flushed messages on shutdown then use `max_batch_count`, if you need granular batch controls like

[2019-05-28 21:40] Jeffail commented on #207
Hey @kconwayatlassian, I've been working on a WASM build of Benthos that runs in the browser for experimentation and I intend to use a very similar mechanism for capturing the output. My plan is to use this to experiment and whatever comes out the other end we can add to the lambda pipeline.

[2019-05-30 22:53] donaherc opened #218 "Escape/Unescape json"
Hello! Is there currently a mechanism to escape or unescape json strings embedded inside JSON within either benthos or JMESPath? I dug into both the source and the docs but couldn't find a place where that functionality is provided. I'm willing to submit a PR to either the `json` or `text` processors to provided this functionality if it currently doesn't exist and you think it'd be valuable.

[2019-05-31 00:10] donaherc commented on #218
Oh! For future reference, the `text` operator `unquote` can be used to unescape json, then message can be passed to subsequent processors. For example:

[code]
This is actually fairly common inside AWS Event types like Kinesis Events or CloudwatchLogEvents if passed via lambda.

Thanks for writing such a flexible tool!

[2019-05-31 00:10] #218 closed

[2019-05-31 18:20] kconwayatlassian commented on #207
Sounds good. I'll try to track your work on that. One thing that stands out about the current result store implementation is that it doesn't key the results by anything. For the case of multiple writers to the same store they'll get their results interleaved.

As an alternative, I backed the result store with a sync.Map in my prototype (https://github.com/kconwayatlassian/benthos-ext/blob/master/p

[2019-05-31 18:52] Jeffail commented on #207
Got it on a branch now: https://github.com/Jeffail/benthos/tree/feature/advanced-serverless
Preliminary docs: https://github.com/Jeffail/benthos/blob/feature/advanced-serverless/docs/serverless/lambda.md#running-a-combination

I'm kind of comfortable with the idea of mixing the outputs together as it follows the same logic as having multiple `stdout` outputs. If a user is hellbent on needing to pa

[2019-06-03 12:50] kconwayatlassian commented on #207
I should have a chance to try it out this week. Will post back with the results.

[2019-06-03 15:46] Jeffail opened #220 "Streams mode: Lint configs that are posted"
We can log them on the streams server and also send them back in the response body.

[2019-06-03 19:35] #220 closed

[2019-06-04 14:29] Jeffail commented on #216
@iluminae, I've added the field `max_batch_count` to the `gcp_pubsub` input, that gives you a batching option that always results in flushed messages. Batching is always going to be a work in progress but I'm closing this issue for now, feel free to reopen if you have questions or problems with the new field.

[2019-06-04 14:29] #216 closed

[2019-06-05 20:02] kconwayatlassian commented on #207
@Jeffail I was able to get a lambda stood up that used a broker where one of the outputs was `serverless_response`. Appears to be working as expected. I've only deployed something that has one message with one part and no splitting so I'm only getting the singe value response. Seems promising to me, though.

[2019-06-06 17:13] Jeffail commented on #207
Thanks @kconwayatlassian, I've played around with the batch sizing and it looks good. There were a few cases where certain processors were wiping message context but I've fixed those now. My plan is to merge today, do some more verification, then make a release either today or tomorrow. I'm really happy with where this feature ended up, there's definitely some compromises but I think it puts us in

[2019-06-06 21:36] Jeffail commented on #207
Implemented: https://github.com/Jeffail/benthos/commit/31b06dff1b3ad2904a72c579d747fbb2e6181f1a
Released: https://github.com/Jeffail/benthos/releases/tag/v2.4.0

[2019-06-06 21:36] #207 closed

[2019-06-06 21:39] #194 closed

[2019-06-07 12:20] ghost opened #222 "minio and SQLSelect"
I would like to use this with minio and SQLSelect.
SQLSelect is pretty nice as it allows you to query data inside a minio bucket using just SQL.
Because its just SQL it more in line with the benthos approach of configuration rather than writing imperative code.

Here is their code that acts as a "gateway" in that you can use simple CURL like calls.
https://github.com/minio/minsql

It supports both

[2019-06-07 23:20] Jeffail commented on #222
Hey @gedw99, I don't really know much about Minio but if it has an HTTP API then you can just use the `http` processor and `http_client` input and outputs to interact with it.

[2019-06-10 13:02] kconwayatlassian commented on #207
@Jeffail Thanks for hearing my ideas out and getting this feature landed. I'm working to get this rolled out for us now. I'm pretty excited about the whole thing.

[2019-06-12 21:43] Jeffail opened #223 "Metrics modifiers are confusing to use"
The [metrics](https://docs.benthos.dev/metrics/) modifiers `rename`, `blacklist` and `whitelist` are very useful and I think the documentation itself is sufficient. However, I'm finding that trying to understand and diagnose issues when they aren't behaving as expected can be a real pain.

It would be good to revisit these components and maybe build some tooling to help make better use out of them

[2019-06-14 10:19] Jeffail commented on #223
I've added trace logs and played around with them, I think this is probably enough but we'll see.

[2019-06-14 10:19] #223 closed

[2019-06-16 19:08] Oscil8 commented on #192
There's already an X-Ray integration for OpenCensus https://opencensus.io/exporters/supported-exporters/go/xray/, which is merging with OpenTracing:
https://www.infoq.com/news/2019/04/opencensus-opentracing-merge/

[2019-06-17 08:42] Jeffail commented on #192
Ace, that looks promising.

[2019-06-17 14:13] Jeffail opened #224 "PSA: Benthos Lab is Live"
Just in case any of you missed the blog post: https://www.jeffail.uk/post/introducing-benthos-lab/

"Benthos Lab is a website where users of the Benthos stream processor can write, format, execute and share their pipeline configurations. This was made possible by compiling the entire service (written in Go) into Web Assembly so that it can run directly in your browser."

Hosted at [https://lab.ben

[2019-06-18 19:41] cludden opened #225 "add support for SASL authentication to kafka_balanced input"
there is currently no way to provide SASL authentication configuration to the kafka_balanced input

[2019-06-18 20:29] #225 closed

[2019-06-18 20:44] Jeffail commented on #225
@cludden, I renamed the field `enable` to `enabled` so that it matches similar fields elsewhere.

Released: https://github.com/Jeffail/benthos/releases/tag/v2.6.0

[2019-06-20 00:14] epmills opened #227 "Daily Feedback Files"
@Jeffail First, thanks for the great work!

Curious your take on how to handle this scenario.  Let's say I have a pipeline that calls an external REST service (easy enough).  This REST service processes our request and then once a day sends a feedback file back to us via an FTP drop.  The feedback file has one line with an updated status for one or more requests sent previously which I would like

[2019-06-20 08:47] Jeffail commented on #222
Hey @gedw99, have you had a chance to try this out at all?

[2019-06-20 11:15] epmills commented on #227
Thanks for your perspective.

[2019-06-20 11:15] #227 closed

[2019-06-23 12:28] Jeffail opened #228 "RFC: Avro support"
Hey all, I'm not currently using Avro at all but I figured it would be useful to start adding support. I've implemented an experimental processor that does some very basic conversions to/from JSON based on a schema and encoding.

It would be very useful if users of Avro could let me know if this solves any real problems you might have and what else you feel is needed.

[2019-06-23 12:29] Jeffail commented on #228
The WIP documentation is here: https://github.com/Jeffail/benthos/tree/master/docs/processors#avro

[2019-06-23 17:13] #224 closed

[2019-07-05 10:28] Jeffail opened #230 "TESTERS REQUIRED: Unit Testing Configurations"
The [Benthos Lab](https://lab.benthos.dev/), as well as [serverless sync responses](https://docs.benthos.dev/serverless/lambda/#running-a-combination) helped stabilize some tooling for performing discrete executions of a Benthos pipeline.

It's now possible to build a pipeline, execute it against discrete input documents and capture the result programmatically. This opens up the possibility of con

[2019-07-05 10:29] Jeffail commented on #228
Closing as no one cares and life has no meaning. Feel free to reopen if you have comments you want to share.

[2019-07-05 10:29] #228 closed

[2019-07-05 10:48] Jeffail commented on #230
# Proposal 1

Benthos searches for files with a particular signature, perhaps `*.benthos_test.(yaml|yml|json)`, these are test definitions and should always be accompanied by a corresponding Benthos config, which is the target of the test.

For example, if we were to have a Benthos config named `foo.yaml`, we could define a test for that config named `foo.benthos_test.yaml`. The label `benthos_tes

[2019-07-08 10:54] Jeffail commented on #230
Amended test definition format for proposal 1:

[code]

I've added explicit fields for definition input content and other things such as metadata keys. I've also changed the way in which expected output is defined. Instead of simply writing our expected output messages we can define condition types, each with their own argument types.

If the count of batches, or messages of a batch, does not matc

[2019-07-08 19:00] Jeffail commented on #230
I'm playing around with an implementation on this branch: https://github.com/Jeffail/benthos/tree/feature/config-tests

[2019-07-11 11:57] Jeffail commented on #230
I've got an implementation that I'm happy with, I'm planning to merge into master today under the EXPERIMENTAL tag. I plan to immediately start implementing tests for our configs at Meltwater so I'll have a chance to test this stuff in anger, but it would be great to have users from other orgs try this out and give feedback over the next few weeks.

[2019-07-11 23:08] cludden opened #232 "v2 and go modules"
Hey @Jeffail, I'm looking to embed benthos in another application, and running into issues with go modules. Out of curiosity, does the `go.mod` module directive need to be updated to include `/v2` in accordance with https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher?

[2019-07-11 23:18] Jeffail commented on #232
Hey @cludden,

Unfortunately with the V2 release I got stuck in an awkward position. I was already using modules to manage Benthos' own dependencies but when it came to the V2 release I was going to have to break compatibility with dep if I updated all the local import paths to be module compliant.

What I did instead was bump the major version but leave the `go.mod` unchanged, this is breaking th

[2019-07-11 23:19] Jeffail commented on #232
The plugin example repo https://github.com/benthosdev/benthos-plugin-example shows you what that looks like.

[2019-07-12 01:34] cludden commented on #232
Thanks for the quick reply!

[2019-07-12 01:34] #232 closed

[2019-07-15 08:38] Jeffail opened #233 "Storing response codes from HTTP requests in metadata"
You can kind of hack yourself a response code check when you use an `http` processor:

[code]

However, this is pretty nasty and prone to long term problems. It's also exclusive to the `http` processor, but it would also be nice to store response codes from the `http_client` output and perhaps more output destinations. This would allow us to build DLQ output destinations based on the _cause_ of th

[2019-07-15 12:58] Jeffail commented on #233
I've made it nicer to access the explicit response code of the `http` processor, including when the status code isn't considered an "error" (201, for example.) You can now access the code with `${!metadata:http_status_code}`.

However, looking into the mechanisms of the `http_client` output, I'm not sure there's a clean way of propagating error codes to subsequent outputs during a failure. This is

[2019-07-15 12:58] #233 closed

[2019-07-18 07:08] dicksontung opened #234 "Support for Redis PSUBSCRIBE"
Is it ok for the `redis_pubsub` input type to use `PSUBSCRIBE` instead of `SUBSCRIBE`?

https://redis.io/commands/psubscribe

[2019-07-18 13:07] Jeffail commented on #234
Released: https://github.com/Jeffail/benthos/releases/tag/v2.9.3
Thanks @dicksontung!

[2019-07-18 13:07] #234 closed

[2019-07-19 09:26] chris-vest opened #236 "Kafka Input only gets the topic messages, does not get keys"
Currently the input of type Kafka will only get the message from a given topic, is there any plan to enable also getting the keys?

My use case is very simply that I need to back up the `_schemas` topic, but then in order to restore I need to be able to produce those messages with the same key they were originally produced with.

Would you accept a PR for this?

[2019-07-19 09:29] Jeffail commented on #236
Hey @chris-vest, messages consumed via Kafka have the key stored in the metadata field `kafka_key`. Where are you storing the backup? Depending on where you're putting the data we can work out how best to store/retrieve the keys.

[2019-07-19 09:33] chris-vest commented on #236
@Jeffail Thanks for the quick response! The backups are currently going to s3, which is working very nicely. It's the restore process which is causing issues. Can I just reference `kafka_key` in the `key` config of the restore process? Something like this:

[code]

[2019-07-19 09:47] Jeffail commented on #236
Yeah, that's it. The metadata value `kafka_key` should automatically get set on the documents as they are uploaded to your bucket. In the S3 UI it should be listed as something like `x-amz-meta-kafka_key`.

However, when downloading items from your bucket using the download manager these fields aren't retrieved, so for your use case you also need to disable it with:

[code]

Then you're able to ac

[2019-07-19 09:58] chris-vest commented on #236
Great, thanks for explaining that!

I'm now getting this:

[code]

I've enabled `logger: level: ALL`, but am not getting any more information than that. Any idea about how I can drill down to the actual issue?

[2019-07-19 10:05] Jeffail commented on #236
Is it possible that your payloads are larger than your max size? That's an unfortunately cryptic error message from kafka, found this thread: https://github.com/Shopify/sarama/issues/810

[2019-07-19 10:07] chris-vest commented on #236
@Jeffail I was looking into that the other day, could well be the case. Maybe there'll be some more information from the broker logs.

[2019-07-19 11:24] chris-vest commented on #236
@Jeffail Really appreciate your help this morning.

It turned out that the Topic Operator I am using was falsely reporting having set the `max.message.bytes` on the topic I was restoring to, so in fact it was exactly what you said - simply the messages were too big!

[2019-07-29 08:50] joeblew99 opened #238 "openapi"
there is an openapi parser here: github.com/getkin/kin-openapi

What do you think about integrating it into Benthos ?

It would be useful for consuming other openAPI systems, because you can take their openAPI yaml and then with benthos just load the openapi yaml and then the data coming in can be validated using the JSONSchema that is part of OpenAPi spec.  Tons of dull works saved.

[2019-07-29 09:25] Jeffail commented on #238
Hey @joeblew99, sounds good. I think it would probably make sense to implement this as a processor to start with (similar to the HTTP processor).

[2019-07-29 10:02] andreis opened #239 "Panic on YAML unmarshal"
Error

[code]

[Gist with error and config](https://gist.github.com/andreis/0c059e470ab24a3b83b736c689164c02)

After some sleuthing it turns out it could be because of the yaml lib update.

I discovered by accident that it does not panic if the plugin name is invalid, and returns an error as expected.

[code]

[2019-07-29 10:17] Jeffail commented on #239
Hey @andreis, thanks for the panic dump, are you providing a nil config constructor along with the plugin spec? If so I think this looks like an issue that should be fixed since [2.8.0](https://github.com/Jeffail/benthos/blob/master/CHANGELOG.md#280---2019-06-24). If not then is it possible to provide some information about your plugins config structure?

[2019-07-29 12:15] andreis commented on #239
See email

[2019-07-29 20:47] Jeffail commented on #106
Took me a while but I got around to it.

Implemented: https://github.com/Jeffail/benthos/commit/0fdf920356446d4325046dca2f237c0eb86e3c8c

I'll probably put a release out tomorrow.

[2019-07-29 21:42] Jeffail commented on #106
Released: https://github.com/Jeffail/benthos/releases/tag/v2.10.0

[2019-07-29 21:42] #106 closed

[2019-07-30 12:20] kconwayatlassian commented on #127
My team is pretty interested in this feature but it seems like this thread, and the PR, have gone stale. Is there any outstanding work we could help complete?

[2019-07-30 12:29] Jeffail commented on #127
@kconwayatlassian, everything looks good except if we merge right now we'd be missing the ability to set explicit `credentials`, which makes it inconsistent with other AWS components. In order to add `credentials` we need to be able to propagate (or modify) the underlying AWS session in the client lib, I believe @patrobinson was going to take a look into enabling that.

It would also be good to ha

[2019-08-02 13:01] #230 closed

[2019-08-02 13:02] Jeffail commented on #230
Closing for now, if you have comments/requests for changing this spec then feel free to reopen. If issues are found please raise a new ticket.

[2019-08-02 13:06] Jeffail opened #241 "Profile selection for AWS credentials configs"
All AWS components allow you to specify credential configuration, this is cool as it lets you connect to components using different accounts.

If we want to use our shared credentials file we need to leave all the credentials fields blank and we're forced to use the same profile across all components. It would be cool if we instead could specify we wish to use a specific profile.

We would probabl

[2019-08-02 15:34] patrobinson commented on #127
Hopefully my PR is ready now. I'd be interested in your experience if you do end up using it

[2019-08-02 19:07] Jeffail commented on #127
Reopening as I still need to enable it and add documentation.

[2019-08-02 19:39] Jeffail commented on #127
Okay it's added. I'm not able to test it right now, is someone able to give it a play?

[2019-08-03 00:00] bkcsfi opened #242 "Question: how to have a conditional based on json array length?"
Hi, I have a DAG/workflow and I need to detect messages that have a json array with length > 0.

based on http://jmespath.org/specification.html#length  and the example jmespath condition `a == 'foo'` I kind of expect this to work:

[code]
But this gives a syntax error:
[code]

I've tried many variations but just can't seem to arrive at a solution that will allow me to test the length of an array

[2019-08-03 08:26] Jeffail commented on #242
Hey @bkcsfi, in jmespath numbers need to be escaped with back ticks, so your query needs to look like this:

[code]

Here's an updated example: https://lab.benthos.dev/l/0-cdrWmWK6-

[2019-08-03 11:02] #241 closed

[2019-08-03 22:30] bkcsfi commented on #242
Thank you for taking the time to answer this question on the weekend. I'm sorry I missed the backtick requirement for json literals in the jmespath grammer.

[2019-08-03 22:30] #242 closed

[2019-08-03 22:36] Jeffail commented on #242
No problem at all, happy to help

[2019-08-05 00:10] bkcsfi opened #243 "fatal error: concurrent map read and map write"
Version: 2.11.0
Date: 2019-08-03T10:06:44Z

(also happens with 2.10)

[2015-01-benthos-crash-stack.log](https://github.com/Jeffail/benthos/files/3465466/2015-01-benthos-crash-stack.log)

[benthos_yaml.zip](https://github.com/Jeffail/benthos/files/3465483/benthos_yaml.zip)

I've attached what I'm sure is a pretty horrible yaml file that could be simplified. Its a process that reads some data from s

[2019-08-05 03:08] bkcsfi commented on #243
I removed the regex from the config file, but the program still crashes with the same stack.

[2019-08-05 09:28] Jeffail commented on #243
Hey @bkcsfi,

Taking a look. Would it be possible for you to also share the config snippets from: `./benthos_append_errors.yml#/pipeline/processors/0`?

One thing that immediately stands out is that multiple parallel stages in your DAG are setting `errors` and `warnings` in their postmap stages. This is a problem as Benthos sets those values by overriding the previous value, whereas what you'd wan

[2019-08-05 10:09] Jeffail commented on #243
Think I got it. It looks as though this was caused by the `process_map` processors that are nested within your DAG stages. They weren't correctly isolating their postmap stages so it opened up the possibility of race conditions versus parallel DAG stages. I've fixed the race condition in v2.11.1 so you shouldn't see the crash anymore. Can you give it a try?

Fixed: https://github.com/Jeffail/benth

[2019-08-05 14:59] chris-vest commented on #236
@Jeffail Hi again!

Just a quick question for you, I was running into the CRC error again: `Message contents does not match its CRC.` I was wondering, when you use s3 as a source and Kafka as a sink, what happens to the metadata attached to the s3 object if you do not reference it in your output configuration??

I.e. I'm only using the `kafka_key` metadata value for the Kafka message key value, bu

[2019-08-05 15:04] bkcsfi commented on #243
Hi,

Thanks for the quick fix. Version 2.11.1 does work now w/o error. I tried variations of thread count and log level and it worked every time.

Also thanks for the suggestion on how to handle merging lists from dag stages into a single 'list'. I hit that issue with temporary_documents, your solution is much nicer than mine.

[2019-08-05 15:04] #243 closed

[2019-08-05 15:06] Jeffail commented on #236
Hey @chris-vest, yeah any metadata attached to the message should get copied to the new bucket item. You should be able to access the `kafka_topic` metadata field whilst consuming from your `s3` source.

[2019-08-05 15:18] chris-vest commented on #236
Thanks! So the pipeline looks like this -

Backup: Kafka --> s3
Restore: s3 --> Kafka

During the restore process, it seems like Benthos adds a number of headers to the message - can you confirm that this is the case?

[2019-08-05 15:21] Jeffail commented on #236
Yeah, that'll naturally happen, if you want to clear your headers you can do a prefix based deletion of metadata like this:

[code]

That'll remove all S3 headers added by Benthos, you can also remove the `kafka_*` headers which are remnants from the original `kafka -> s3` pipeline. However, that'll also remove `kafka_key`, which you are probably relying on.